<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>macro</string>

  <key>name</key>
  <string>approxequalorimage</string>

  <key>template</key>
  <string>component_sequence_template.plist</string>

  <key>templateName</key>
  <string>componentSequence</string>

  <key>parameters</key>
  <dict>
    <key>exportGlyph</key>
    <string>approxequalorimage</string>
    <key>components</key>
    <array>
      <string>equal</string>
      <string>mathdot</string>
      <string>mathdot</string>
    </array>
    <key>disableAutomaticAlignmentComponents</key>
    <array>
      <string>mathdot</string>
    </array>
    <key>autoMatchingAnchors</key>
    <false/>
    <key>componentPairAlignments</key>
    <array>
      <dict>
        <key>componentIndexes</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
        </array>
        <key>baseAnchor</key>
        <string>topleft</string>
        <key>markAnchor</key>
        <string>_topleft</string>
      </dict>
      <dict>
        <key>componentIndexes</key>
        <array>
          <integer>0</integer>
          <integer>2</integer>
        </array>
        <key>baseAnchor</key>
        <string>bottomright</string>
        <key>markAnchor</key>
        <string>_bottomright</string>
      </dict>
    </array>
    <key>leftMetricsGlyph</key>
    <string>equal</string>
    <key>rightMetricsGlyph</key>
    <string>equal</string>
    <key>color</key>
    <string>orange</string>
  </dict>
</dict>
</plist>
