<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Blocks</key>
  <array>
    <dict>
      <key>Name</key>
      <string>Floor C</string>
      <key>UnicodePoints</key>
      <array>
        <string>⬹</string>
        <string>⤔</string>
        <string>⤀</string>
        <string>⬴</string>
        <string>⇷</string>
        <string>⇸</string>
      </array>
      <key>MiddlePieceExchange</key>
      <array>
        <dict>
          <key>MiddleGlyphInput</key>
          <string>Arrow.mid.ShortShort</string>
          <key>MiddleGlyphOutput</key>
          <string>Arrow.mid.ShortShort.FloorC</string>
        </dict>
        <dict>
          <key>MiddleGlyphInput</key>
          <string>Arrow.mid.ShortLong</string>
          <key>MiddleGlyphOutput</key>
          <string>Arrow.mid.ShortLong.FloorC</string>
        </dict>
      </array>
      <key>Floor</key>
      <integer>50</integer>
    </dict>
    <dict>
      <key>Name</key>
      <string>Floor B</string>
      <key>UnicodePoints</key>
      <array>
        <string>⤕</string>
        <string>⬺</string>
        <string>⤁</string>
        <string>⇺</string>
        <string>⇻</string>
        <string>⤀</string>
        <string>⬴</string>
        <string>⇹</string>
        <string>↮</string>
        <string>↚</string>
      </array>
      <key>MiddlePieceExchange</key>
      <array>
        <dict>
          <key>MiddleGlyphInput</key>
          <string>Arrow.mid.ShortShort</string>
          <key>MiddleGlyphOutput</key>
          <string>Arrow.mid.ShortShort.FloorB</string>
        </dict>
        <dict>
          <key>MiddleGlyphInput</key>
          <string>Arrow.mid.ShortLong</string>
          <key>MiddleGlyphOutput</key>
          <string>Arrow.mid.ShortLong.FloorB</string>
        </dict>
      </array>
      <key>Floor</key>
      <integer>100</integer>
    </dict>
    <!-- Template block: edit UnicodePoints, output names, and Floor as needed. -->
    <dict>
      <key>Name</key>
      <string>Floor A</string>
      <key>UnicodePoints</key>
      <array>
        <string>⤘</string>
        <string>⬽</string>
      </array>
      <key>MiddlePieceExchange</key>
      <array>
        <dict>
          <key>MiddleGlyphInput</key>
          <string>Arrow.mid.LongLong</string>
          <key>MiddleGlyphOutput</key>
          <string>Arrow.mid.LongLong.FloorA</string>
        </dict>
      </array>
      <key>Floor</key>
      <integer>110</integer>
    </dict>
    <!-- Template block: edit UnicodePoints, output names, and Floor as needed. -->
    <dict>
      <key>Name</key>
      <string>DoubleArrows</string>
      <key>UnicodePoints</key>
      <array>
        <string>⤂</string>
        <string>⤃</string>
        <string>⇍</string>
        <string>⇎</string>
        <string>⇏</string>
      </array>
      <key>MiddlePieceExchange</key>
      <array>
        <dict>
          <key>MiddleGlyphInput</key>
          <string>DoubleArrow.mid.ShortShort</string>
          <key>MiddleGlyphOutput</key>
          <string>DoubleArrow.mid.ShortShort.Floor</string>
        </dict>
      </array>
      <key>Floor</key>
      <integer>50</integer>
    </dict>
  </array>
</dict>
</plist>
