<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>
  <key>kind</key>
  <string>recipe</string>
  <key>name</key>
  <string>ArrowDoubleVerticalStroke.mid_shiftleft1</string>
  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>ArrowDoubleVerticalStroke.mid_shiftleft1</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>orange</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>ArrowDoubleVerticalStroke.mid_shiftleft1</string>
        <key>components</key>
        <array>
          <string>Arrow.mid</string>
          <string>_ArrowDoubleVerticalStroke</string>
        </array>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setComponentAnchor</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>ArrowDoubleVerticalStroke.mid_shiftleft1</string>
        <key>component</key>
        <string>_ArrowDoubleVerticalStroke</string>
        <key>anchor</key>
        <string>center_1</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>enableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>ArrowDoubleVerticalStroke.mid_shiftleft1</string>
        <key>components</key>
        <array>
          <string>Arrow.mid</string>
          <string>_ArrowDoubleVerticalStroke</string>
        </array>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>ArrowDoubleVerticalStroke.mid_shiftleft1</string>
        <key>mastersOnly</key>
        <true/>
      </dict>
    </dict>
  </array>
</dict>
</plist>
