<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>
  <key>kind</key>
  <string>macro</string>
  <key>name</key>
  <string>ArrowVerticalStroke.mid</string>
  <key>template</key>
  <string>component_sequence_template.plist</string>
  <key>templateName</key>
  <string>componentSequence</string>
  <key>parameters</key>
  <dict>
    <key>exportGlyph</key>
    <string>ArrowVerticalStroke.mid</string>
    <key>components</key>
    <array>
      <string>Arrow_short.mid</string>
      <string>_ArrowVerticalStroke</string>
    </array>
    <key>leftMetricsGlyph</key>
    <string>Arrow_short.mid</string>
    <key>rightMetricsGlyph</key>
    <string>Arrow_short.mid</string>
    <key>color</key>
    <string>orange</string>
  </dict>
</dict>
</plist>
