<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>template</string>

  <key>name</key>
  <string>componentSequence</string>

  <key>parameters</key>
  <dict>
    <key>exportGlyph</key>
    <string>equalscolon</string>
    <key>components</key>
    <array>
      <string>equal</string>
      <string>colon</string>
    </array>
    <key>color</key>
    <string>orange</string>
    <key>disableAutomaticAlignment</key>
    <true/>
    <key>disableAutomaticAlignmentComponents</key>
    <array/>
    <key>placeComponentsByWidths</key>
    <false/>
    <key>alignAnchors</key>
    <false/>
    <key>autoMatchingAnchors</key>
    <true/>
    <key>matchingAnchors</key>
    <array/>
    <key>alignCenterMidpointToMathAxis</key>
    <false/>
    <key>centerMidpointComponents</key>
    <array/>
    <key>centerMidpointAnchor</key>
    <string>center</string>
    <key>componentPairAlignments</key>
    <array/>
    <key>componentPairDisableAlignment</key>
    <true/>
    <key>leftMetricsGlyph</key>
    <string></string>
    <key>rightMetricsGlyph</key>
    <string></string>
  </dict>

  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <string>${components}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>disableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>enabled</key>
        <string>${disableAutomaticAlignment}</string>
        <key>components</key>
        <string>${disableAutomaticAlignmentComponents}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>placeComponentSequenceByWidths</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <string>${components}</string>
        <key>enabled</key>
        <string>${placeComponentsByWidths}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>alignComponentSequenceAnchors</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <string>${components}</string>
        <key>enabled</key>
        <string>${alignAnchors}</string>
        <key>autoMatching</key>
        <string>${autoMatchingAnchors}</string>
        <key>matchingAnchors</key>
        <string>${matchingAnchors}</string>
        <key>exitAnchors</key>
        <array>
          <string>#exit</string>
          <string>exit</string>
        </array>
        <key>entryAnchors</key>
        <array>
          <string>#entry</string>
          <string>entry</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>alignComponentMidpointToMathAxis</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <string>${centerMidpointComponents}</string>
        <key>enabled</key>
        <string>${alignCenterMidpointToMathAxis}</string>
        <key>anchorName</key>
        <string>${centerMidpointAnchor}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>alignComponentPairsByAnchors</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <string>${components}</string>
        <key>pairs</key>
        <string>${componentPairAlignments}</string>
        <key>disableAlignment</key>
        <string>${componentPairDisableAlignment}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setSideMetricsFromComponentSequence</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <string>${components}</string>
        <key>leftGlyph</key>
        <string>${leftMetricsGlyph}</string>
        <key>rightGlyph</key>
        <string>${rightMetricsGlyph}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>mastersOnly</key>
        <true/>
      </dict>
    </dict>
  </array>
</dict>
</plist>
