<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>macro</string>

  <key>name</key>
  <string>dotminus</string>

  <key>template</key>
  <string>component_sequence_template.plist</string>

  <key>templateName</key>
  <string>componentSequence</string>

  <key>parameters</key>
  <dict>
    <key>exportGlyph</key>
    <string>dotminus</string>
    <key>components</key>
    <array>
      <string>minus</string>
      <string>mathdot</string>
    </array>
    <key>disableAutomaticAlignmentComponents</key>
    <array>
      <string>mathdot</string>
    </array>
    <key>matchingAnchors</key>
    <array>
      <string>top</string>
    </array>
    <key>setMetrics</key>
    <true/>
    <key>leftMetricsGlyph</key>
    <string>minus</string>
    <key>rightMetricsGlyph</key>
    <string>minus</string>
  </dict>
</dict>
</plist>
