<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>
  <key>kind</key>
  <string>recipe</string>
  <key>constants</key>
  <string>recipe_constants.plist</string>
  <key>name</key>
  <string>DoublePairedArrow.ext</string>
  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>DoublePairedArrow.ext</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${GeneratedColor}</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>DoublePairedArrow.ext</string>
        <key>components</key>
        <array>
          <string>Arrow.mid.1</string>
          <string>Arrow.mid.1</string>
        </array>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>disableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>DoublePairedArrow.ext</string>
        <key>components</key>
        <array>
          <string>Arrow.mid.1</string>
        </array>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setComponentPosition</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>DoublePairedArrow.ext</string>
        <key>componentIndex</key>
        <integer>1</integer>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <string>${DoublePairedArrowGap}</string>
        <key>yMultiplier</key>
        <integer>-1</integer>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setComponentPosition</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>DoublePairedArrow.ext</string>
        <key>componentIndex</key>
        <integer>0</integer>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <string>${DoublePairedArrowGap}</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setSideBearings</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>DoublePairedArrow.ext</string>
        <key>left</key>
        <integer>0</integer>
        <key>right</key>
        <integer>0</integer>
      </dict>
    </dict>
  </array>
</dict>
</plist>
