<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>template</string>

  <key>name</key>
  <string>doubleArrowParts</string>

  <key>parameters</key>
  <dict>
    <key>leftArrowBase</key>
    <string>leftDoubleArrow</string>
    <key>rightArrowBase</key>
    <string>rightDoubleArrow</string>
    <key>leftPartSuffix</key>
    <string>.lft</string>
    <key>rightPartSuffix</key>
    <string>.rgt</string>
    <key>middleComponent</key>
    <string>DoubleArrow.mid</string>
    <key>assemblyMiddleComponent</key>
    <string>DoubleArrow.mid</string>
    <key>rightAssemblyComponent</key>
    <string>DoubleArrow.rgt</string>
    <key>color</key>
    <string>${GeneratedColor}</string>
  </dict>

  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${rightPartSuffix}</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${rightPartSuffix}</string>
        <key>component</key>
        <string>${rightArrowBase}${leftPartSuffix}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>flipComponentsAcrossYAxis</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${rightPartSuffix}</string>
        <key>components</key>
        <array>
          <string>${rightArrowBase}${leftPartSuffix}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>enableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${rightPartSuffix}</string>
        <key>components</key>
        <array>
          <string>${rightArrowBase}${leftPartSuffix}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${rightPartSuffix}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${leftPartSuffix}</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${leftPartSuffix}</string>
        <key>component</key>
        <string>${rightArrowBase}${rightPartSuffix}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>flipComponentsAcrossYAxis</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${leftPartSuffix}</string>
        <key>components</key>
        <array>
          <string>${rightArrowBase}${rightPartSuffix}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>enableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${leftPartSuffix}</string>
        <key>components</key>
        <array>
          <string>${rightArrowBase}${rightPartSuffix}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}${leftPartSuffix}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}</string>
        <key>components</key>
        <array>
          <string>${middleComponent}</string>
          <string>${leftArrowBase}${leftPartSuffix}</string>
          <string>${leftArrowBase}${rightPartSuffix}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setMathPluginAssembly</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}</string>
        <key>direction</key>
        <string>h</string>
        <key>entries</key>
        <array>
          <dict>
            <key>glyph</key>
            <string>${leftArrowBase}${leftPartSuffix}</string>
            <key>extender</key>
            <integer>0</integer>
            <key>startConnector</key>
            <integer>0</integer>
            <key>endConnector</key>
            <integer>30</integer>
          </dict>
          <dict>
            <key>glyph</key>
            <string>${assemblyMiddleComponent}</string>
            <key>extender</key>
            <integer>1</integer>
            <key>startConnector</key>
            <integer>30</integer>
            <key>endConnector</key>
            <integer>30</integer>
          </dict>
          <dict>
            <key>glyph</key>
            <string>${rightAssemblyComponent}</string>
            <key>extender</key>
            <integer>0</integer>
            <key>startConnector</key>
            <integer>30</integer>
            <key>endConnector</key>
            <integer>0</integer>
          </dict>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>enableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}</string>
        <key>components</key>
        <array>
          <string>${leftArrowBase}${leftPartSuffix}</string>
          <string>${middleComponent}</string>
          <string>${leftArrowBase}${rightPartSuffix}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${leftArrowBase}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
