<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>template</string>

  <key>name</key>
  <string>horizontalArrowThreePart</string>

  <key>parameters</key>
  <dict>
    <key>exportGlyph</key>
    <string>rightArrow</string>
    <key>leftPart</key>
    <string>rightArrow.lft</string>
    <key>middlePart</key>
    <string>Arrow.mid</string>
    <key>assemblyMiddlePart</key>
    <string>Arrow.mid</string>
    <key>rightPart</key>
    <string>rightArrow.rgt</string>
    <key>color</key>
    <string>${GeneratedColor}</string>
  </dict>

  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <array>
          <string>${leftPart}</string>
          <string>${middlePart}</string>
          <string>${rightPart}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>alignComponentSequenceAnchors</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <array>
          <string>${leftPart}</string>
          <string>${middlePart}</string>
          <string>${rightPart}</string>
        </array>
        <key>enabled</key>
        <true/>
        <key>autoMatching</key>
        <true/>
        <key>exitAnchors</key>
        <array>
          <string>#exit</string>
          <string>exit</string>
        </array>
        <key>entryAnchors</key>
        <array>
          <string>#entry</string>
          <string>entry</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setMathPluginAssembly</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>direction</key>
        <string>h</string>
        <key>entries</key>
        <array>
          <dict>
            <key>glyph</key>
            <string>${leftPart}</string>
            <key>extender</key>
            <integer>0</integer>
            <key>startConnector</key>
            <integer>0</integer>
            <key>endConnector</key>
            <integer>30</integer>
          </dict>
          <dict>
            <key>glyph</key>
            <string>${assemblyMiddlePart}</string>
            <key>extender</key>
            <integer>1</integer>
            <key>startConnector</key>
            <integer>30</integer>
            <key>endConnector</key>
            <integer>30</integer>
          </dict>
          <dict>
            <key>glyph</key>
            <string>${rightPart}</string>
            <key>extender</key>
            <integer>0</integer>
            <key>startConnector</key>
            <integer>30</integer>
            <key>endConnector</key>
            <integer>0</integer>
          </dict>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>enableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>components</key>
        <array>
          <string>${leftPart}</string>
          <string>${middlePart}</string>
          <string>${rightPart}</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
