<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Left Long From Bar Arrow</string>
	<key>kind</key>
	<string>recipe</string>

  <key>constants</key>
  <string>recipe_constants.plist</string>
	<key>description</key>
	<string>Build leftFrombarArrow from left, extender, and right arrow parts with a horizontal math assembly.</string>
	<key>actions</key>
	<array>
		<dict>
			<key>action</key>
			<string>createGlyph</string>
			<key>glyph</key>
			<string>leftLongFromBarArrow</string>
			<key>export</key>
			<true/>
			<key>color</key>
			<string>${GeneratedColor}</string>
		</dict>
		<dict>
			<key>action</key>
			<string>addComponents</string>
			<key>glyph</key>
			<string>leftLongFromBarArrow</string>
			<key>components</key>
			<array>
				<string>leftArrow.lft</string>
				<string>ArrowLong.mid</string>
				<string>leftFrombarArrow.rgt</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>enableComponentAlignment</string>
			<key>glyph</key>
			<string>leftLongFromBarArrow</string>
		</dict>
		<dict>
			<key>action</key>
			<string>updateMetrics</string>
			<key>glyph</key>
			<string>leftLongFromBarArrow</string>
		</dict>
	</array>
</dict>
</plist>
