<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>formatVersion</key>
    <integer>1</integer>
    <key>kind</key>
    <string>recipe</string>
    <key>constants</key>
    <string>recipe_constants.plist</string>
    <key>name</key>
    <string>leftArrowWithDottedStem</string>
    <key>actions</key>
    <array>
      <dict>
        <key>type</key>
        <string>call</string>
        <key>function</key>
        <string>createGlyph</string>
        <key>arguments</key>
        <dict>
          <key>glyph</key>
          <string>leftArrowWithDottedStem</string>
          <key>export</key>
          <true/>
          <key>color</key>
          <string>${GeneratedColor}</string>
        </dict>
      </dict>
      <dict>
        <key>type</key>
        <string>call</string>
        <key>function</key>
        <string>addComponents</string>
        <key>arguments</key>
        <dict>
          <key>glyph</key>
          <string>leftArrowWithDottedStem</string>
          <key>components</key>
          <array>
            <string>leftArrowWithDottedStem.lft</string>
            <string>arrowdot</string>
            <string>arrowdot</string>
            <string>arrowdot</string>
            <string>arrowdot</string>
            <string>arrowdot</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>type</key>
        <string>call</string>
        <key>function</key>
        <string>enableComponentAlignment</string>
        <key>arguments</key>
        <dict>
          <key>glyph</key>
          <string>leftArrowWithDottedStem</string>
          <key>components</key>
          <array>
            <string>leftArrowWithDottedStem.lft</string>
            <string>arrowdot</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>type</key>
        <string>call</string>
        <key>function</key>
        <string>setMathPluginAssembly</string>
        <key>arguments</key>
        <dict>
          <key>glyph</key>
          <string>leftArrowWithDottedStem</string>
          <key>direction</key>
          <string>h</string>
          <key>entries</key>
          <array>
            <dict>
              <key>glyph</key>
              <string>leftArrowWithDottedStem.lft</string>
              <key>extender</key>
              <integer>0</integer>
              <key>startConnector</key>
              <integer>0</integer>
              <key>endConnector</key>
              <integer>25</integer>
            </dict>
            <dict>
              <key>glyph</key>
              <string>arrowdot</string>
              <key>extender</key>
              <integer>1</integer>
              <key>startConnector</key>
              <integer>10</integer>
              <key>endConnector</key>
              <integer>0</integer>
            </dict>
          </array>
        </dict>
      </dict>
      <dict>
        <key>type</key>
        <string>call</string>
        <key>function</key>
        <string>updateMetrics</string>
        <key>arguments</key>
        <dict>
          <key>glyph</key>
          <string>leftArrowWithDottedStem</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
