<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>recipe</string>

  <key>name</key>
  <string>northEastAndSouthWestArrow</string>

  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>northEastAndSouthWestArrow</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>orange</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>northEastAndSouthWestArrow</string>
        <key>component</key>
        <string>leftRightArrow</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>rotateComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>northEastAndSouthWestArrow</string>
        <key>components</key>
        <array>
          <string>leftRightArrow</string>
        </array>
        <key>degrees</key>
        <integer>45</integer>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>alignComponentBottomToDescender</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>northEastAndSouthWestArrow</string>
        <key>components</key>
        <array>
          <string>leftRightArrow</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setSideMetricKeys</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>northEastAndSouthWestArrow</string>
        <key>left</key>
        <string>|rightArrow</string>
        <key>right</key>
        <string>rightArrow</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>northEastAndSouthWestArrow</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
