<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>
  <key>kind</key>
  <string>constants</string>
  <key>name</key>
  <string>Recipe Constants</string>
  <key>constants</key>
  <dict>
    <key>ArrowMiddleLength</key>
    <integer>500</integer>
    <key>ArrowEndLength</key>
    <integer>500</integer>
    <key>ArrowStartandEndConnector</key>
    <integer>30</integer>
    <key>ArrowMiddleConnector</key>
    <integer>450</integer>
  </dict>
</dict>
</plist>
