<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>
  <key>kind</key>
  <string>recipe</string>

  <key>constants</key>
  <string>recipe_constants.plist</string>
  <key>name</key>
  <string>rightTabArrow.rgt</string>
  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabArrow.rgt</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${GeneratedColor}</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabArrow.rgt</string>
        <key>component</key>
        <string>rightArrow.rgt</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabArrow.rgt</string>
        <key>component</key>
        <string>_ArrowTab</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>enableComponentAlignment</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabArrow.rgt</string>
        <key>components</key>
        <array>
          <string>rightArrow.rgt</string>
          <string>_ArrowTab</string>
        </array>
      </dict>
    </dict>
  </array>
</dict>
</plist>
