<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>
  <key>kind</key>
  <string>macro</string>

  <key>constants</key>
  <string>recipe_constants.plist</string>
  <key>name</key>
  <string>rightTwoHeadedArrowWithDoubleVerticalStroke</string>
  <key>template</key>
  <string>horizontal_arrow_vertical_stroke_template.plist</string>
  <key>parameters</key>
  <dict>
    <key>exportGlyph</key>
    <string>rightTwoHeadedArrowWithDoubleVerticalStroke</string>
    <key>leftPart</key>
    <string>rightArrow.lft</string>
    <key>strokePart</key>
    <string>ArrowDoubleVerticalStroke.mid_shiftleft2</string>
    <key>rightPart</key>
    <string>twoheadrightarrow.rgt</string>
  </dict>
</dict>
</plist>
