<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>recipe</string>

  <key>constants</key>
  <string>recipe_constants.plist</string>

  <key>name</key>
  <string>rightTabHarpoonDownArrow.rgt</string>

  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabHarpoonDownArrow.rgt</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>orange</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabHarpoonDownArrow.rgt</string>
        <key>component</key>
        <string>rightTabHarpoonUpArrow.rgt</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>flipComponentsAcrossHorizontalLine</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabHarpoonDownArrow.rgt</string>
        <key>components</key>
        <array>
          <string>rightTabHarpoonUpArrow.rgt</string>
        </array>
        <key>y</key>
        <integer>265</integer>
        <key>anchorNames</key>
        <array>
          <string>#entry</string>
        </array>
        <key>checkAnchorY</key>
        <true/>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>alignComponentAnchorsToMathAxis</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabHarpoonDownArrow.rgt</string>
        <key>components</key>
        <array>
          <string>rightTabHarpoonUpArrow.rgt</string>
        </array>
        <key>anchorNames</key>
        <array>
          <string>#entry</string>
        </array>
        <key>targetAnchorName</key>
        <string>#entry</string>
        <key>writeAnchor</key>
        <true/>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>updateMetrics</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>rightTabHarpoonDownArrow.rgt</string>
      </dict>
    </dict>

  </array>
</dict>
</plist>
