<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>macro</string>

  <key>constants</key>
  <string>recipe_constants.plist</string>

  <key>name</key>
  <string>tripleIntegral</string>

  <key>template</key>
  <string>math_glyphs_template.plist</string>

  <key>templateName</key>
  <string>mathGlyphs</string>

  <key>parameters</key>
  <dict>
    <key>smartGlyph</key>
    <string>_smart.tripleIntegral</string>
    <key>exportGlyph</key>
    <string>tripleIntegral</string>
    <key>baseSmartGlyphs</key>
    <array>
      <string>_smart.integral</string>
      <string>_smart.integral</string>
      <string>_smart.integral</string>
    </array>
    <key>variantValues</key>
    <array>
      <integer>0</integer>
      <integer>5</integer>
      <integer>10</integer>
      <integer>15</integer>
      <integer>20</integer>
      <integer>25</integer>
      <integer>30</integer>
      <integer>35</integer>
      <integer>40</integer>
      <integer>45</integer>
      <integer>50</integer>
      <integer>55</integer>
      <integer>60</integer>
      <integer>65</integer>
      <integer>70</integer>
      <integer>75</integer>
      <integer>80</integer>
      <integer>85</integer>
      <integer>90</integer>
      <integer>95</integer>
      <integer>100</integer>
    </array>
    <key>color</key>
    <string>${GeneratedColor}</string>
  </dict>
</dict>
</plist>
