<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>
  <key>kind</key>
  <string>recipe</string>
  <key>constants</key>
  <string>recipe_constants.plist</string>
  <key>name</key>
  <string>upBarbRightharpoon</string>
  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>upBarbRightharpoon</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${GeneratedColor}</string>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>upBarbRightharpoon</string>
        <key>components</key>
        <array>
          <string>VerticalArrow.mid</string>
          <string>upBarbRightharpoon.top</string>
          <string>upArrow.bot</string>
        </array>
      </dict>
    </dict>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setMathPluginAssembly</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>upBarbRightharpoon</string>
        <key>direction</key>
        <string>v</string>
        <key>entries</key>
        <array>
          <dict>
            <key>glyph</key>
            <string>upArrow.bot</string>
            <key>extender</key>
            <false/>
            <key>startConnector</key>
            <integer>0</integer>
            <key>endConnector</key>
            <string>${VerticalArrowStartandEndConnector}</string>
          </dict>
          <dict>
            <key>glyph</key>
            <string>VerticalArrow.mid</string>
            <key>extender</key>
            <true/>
            <key>startConnector</key>
            <string>${VerticalArrowMiddleConnector}</string>
            <key>endConnector</key>
            <string>${VerticalArrowMiddleConnector}</string>
          </dict>
          <dict>
            <key>glyph</key>
            <string>upBarbRightharpoon.top</string>
            <key>extender</key>
            <false/>
            <key>startConnector</key>
            <string>${VerticalArrowStartandEndConnector}</string>
            <key>endConnector</key>
            <integer>0</integer>
          </dict>
        </array>
      </dict>
    </dict>
  </array>
</dict>
</plist>
