<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>upTwoHeadedArrow.top</string>
  <key>kind</key>
  <string>recipe</string>
  <key>constants</key>
  <string>recipe_constants.plist</string>
  <key>actions</key>
  <array>
    <dict>
      <key>action</key>
      <string>createGlyph</string>
      <key>glyph</key>
      <string>upTwoHeadedArrow.top</string>
      <key>export</key>
      <true/>
      <key>color</key>
      <string>${GeneratedColor}</string>
    </dict>
    <dict>
      <key>action</key>
      <string>setGlyphMetadata</string>
      <key>glyph</key>
      <string>upTwoHeadedArrow.top</string>
      <key>category</key>
      <string>Mark</string>
      <key>subCategory</key>
      <string>Nonspacing</string>
    </dict>
    <dict>
      <key>action</key>
      <string>addComponent</string>
      <key>glyph</key>
      <string>upTwoHeadedArrow.top</string>
      <key>component</key>
      <string>twoheadrightarrow.rgt</string>
    </dict>
    <dict>
      <key>action</key>
      <string>rotateComponents</string>
      <key>glyph</key>
      <string>upTwoHeadedArrow.top</string>
      <key>components</key>
      <array>
        <string>twoheadrightarrow.rgt</string>
      </array>
      <key>degrees</key>
      <integer>90</integer>
    </dict>
    <dict>
      <key>action</key>
      <string>alignComponentBottomToBaselineAndAnchorX</string>
      <key>glyph</key>
      <string>upTwoHeadedArrow.top</string>
      <key>components</key>
      <array>
        <string>twoheadrightarrow.rgt</string>
      </array>
      <key>componentAnchor</key>
      <string>_right</string>
      <key>referenceGlyph</key>
      <string>_smart.VerticalArrow.mid</string>
      <key>referenceAnchor</key>
      <string>right</string>
      <key>baseline</key>
      <integer>0</integer>
    </dict>
  </array>
</dict>
</plist>
