(
nAryCircledPlusOperator,
nAryCircledPlusOperator.s01,
nAryCircledPlusOperator.s02,
nAryCircledPlusOperator.s03,
nAryCircledPlusOperator.s04,
nAryCircledPlusOperator.s05,
nAryCircledPlusOperator.s06,
nAryCircledPlusOperator.s07,
nAryCircledPlusOperator.s08,
nAryCircledPlusOperator.s09,
nAryCircledPlusOperator.s10,
nAryCircledPlusOperator.s11,
nAryCircledPlusOperator.s12,
nAryCircledPlusOperator.s13,
nAryCircledPlusOperator.s14,
nAryCircledPlusOperator.s15,
nAryCircledPlusOperator.s16,
nAryCircledPlusOperator.s17,
nAryCircledPlusOperator.s18,
nAryCircledPlusOperator.s19,
nAryCircledPlusOperator.s20,
_smart.circle,
_smart.minus,
_smart.multiply,
_smart.plus,
_smart.plus.circled
)