<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>grave</string>
			<string>gravecomb</string>
			<string>acute</string>
			<string>acutecomb</string>
			<string>asciicircum</string>
			<string>circumflexcomb</string>
			<string>circumflex</string>
			<string>asciitilde</string>
			<string>tildecomb</string>
			<string>tilde</string>
			<string>macron</string>
			<string>overline</string>
			<string>macroncomb</string>
			<string>overlinecomb</string>
			<string>underscore</string>
			<string>lowlinecomb</string>
			<string>brevecomb</string>
			<string>breve</string>
			<string>period</string>
			<string>dotaccent</string>
			<string>dotaccentcomb</string>
			<string>dieresis</string>
			<string>dieresiscomb</string>
			<string>hookabovecomb</string>
			<string>ring</string>
			<string>ringcomb</string>
			<string>caron</string>
			<string>caroncomb</string>
			<string>leftharpoonabovecomb</string>
			<string>leftBarbUpHarpoon</string>
			<string>rightharpoonabovecomb</string>
			<string>rightBarbUpHarpoon</string>
			<string>rightarrowabovecomb</string>
			<string>rightArrow</string>
			<string>rightLongArrow</string>
			<string>threedotsabovecomb</string>
			<string>fourdotsabovecomb</string>
			<string>topsquarebracket</string>
			<string>bottomsquarebracket</string>
			<string>topparenthesis</string>
			<string>bottomparenthesis</string>
			<string>topcurlybracket</string>
			<string>bottomcurlybracket</string>
		</array>
		<key>name</key>
		<string>Math Accents</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>leftanglebracket-math</string>
			<string>rightanglebracket-math</string>
			<string>leftdoubleanglebracket-math</string>
			<string>rightdoubleanglebracket-math</string>
			<string>leftCeiling</string>
			<string>rightCeiling</string>
			<string>leftFloor</string>
			<string>rightFloor</string>
			<string>topLeftCorner</string>
			<string>topRightCorner</string>
			<string>bottomLeftCorner</string>
			<string>bottomRightCorner</string>
			<string>bar</string>
			<string>dblverticalbar</string>
			<string>tripleVerticalBarDelimiter</string>
			<string>slash</string>
			<string>backslash</string>
			<string>leftwhitesquarebracket-math</string>
			<string>rightwhitesquarebracket-math</string>
			<string>leftflattenedparenthesis-math</string>
			<string>rightflattenedparenthesis-math</string>
		</array>
		<key>name</key>
		<string>Math Delimiters</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>integral</string>
			<string>dblIntegral</string>
			<string>tripleIntegral</string>
			<string>contourIntegral</string>
			<string>surfaceIntegral</string>
			<string>volumeIntegral</string>
			<string>clockwiseIntegral</string>
			<string>clockwiseContourIntegral</string>
			<string>anticlockwiseContourIntegral</string>
			<string>integraltp</string>
			<string>integralbt</string>
			<string>integralextension</string>
			<string>summationWithIntegral</string>
			<string>quadrupleIntegral</string>
			<string>finitePartIntegral</string>
			<string>doubleStrokeIntegral</string>
			<string>averageSlashIntegral</string>
			<string>circulationFunction</string>
			<string>anticlockwiseIntegral</string>
			<string>rectangularLineIntegral</string>
			<string>semicircularLineIntegral</string>
			<string>nopoleLineIntegral</string>
			<string>pointIntegral</string>
			<string>quaternionIntegral</string>
			<string>leftarrowHookIntegral</string>
			<string>timesIntegral</string>
			<string>intersectionIntegral</string>
			<string>integralWithUnion</string>
			<string>integralWithOverbar</string>
			<string>integralWithUnderbar</string>
		</array>
		<key>name</key>
		<string>Math Integrals</string>
	</dict>
</array>
</plist>
