<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>grave</string>
			<string>gravecomb</string>
			<string>acute</string>
			<string>acutecomb</string>
			<string>asciicircum</string>
			<string>circumflexcomb</string>
			<string>circumflex</string>
			<string>asciitilde</string>
			<string>tildecomb</string>
			<string>tilde</string>
			<string>macron</string>
			<string>overline</string>
			<string>macroncomb</string>
			<string>overlinecomb</string>
			<string>underscore</string>
			<string>lowlinecomb</string>
			<string>brevecomb</string>
			<string>breve</string>
			<string>period</string>
			<string>dotaccent</string>
			<string>dotaccentcomb</string>
			<string>dieresis</string>
			<string>dieresiscomb</string>
			<string>hookabovecomb</string>
			<string>ring</string>
			<string>ringcomb</string>
			<string>caron</string>
			<string>caroncomb</string>
			<string>leftharpoonabovecomb</string>
			<string>leftBarbUpHarpoon</string>
			<string>rightharpoonabovecomb</string>
			<string>rightBarbUpHarpoon</string>
			<string>rightarrowabovecomb</string>
			<string>rightArrow</string>
			<string>rightLongArrow</string>
			<string>threedotsabovecomb</string>
			<string>fourdotsabovecomb</string>
			<string>topsquarebracket</string>
			<string>bottomsquarebracket</string>
			<string>topparenthesis</string>
			<string>bottomparenthesis</string>
			<string>topcurlybracket</string>
			<string>bottomcurlybracket</string>
		</array>
		<key>name</key>
		<string>Math Accents</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>leftanglebracket-math</string>
			<string>rightanglebracket-math</string>
			<string>leftdoubleanglebracket-math</string>
			<string>rightdoubleanglebracket-math</string>
			<string>leftCeiling</string>
			<string>rightCeiling</string>
			<string>leftFloor</string>
			<string>rightFloor</string>
			<string>topLeftCorner</string>
			<string>topRightCorner</string>
			<string>bottomLeftCorner</string>
			<string>bottomRightCorner</string>
			<string>bar</string>
			<string>dblverticalbar</string>
			<string>tripleVerticalBarDelimiter</string>
			<string>slash</string>
			<string>backslash</string>
			<string>leftwhitesquarebracket-math</string>
			<string>rightwhitesquarebracket-math</string>
			<string>leftflattenedparenthesis-math</string>
			<string>rightflattenedparenthesis-math</string>
		</array>
		<key>name</key>
		<string>Math Delimiters</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>leftArrow</string>
			<string>upArrow</string>
			<string>rightArrow</string>
			<string>downArrow</string>
			<string>leftRightArrow</string>
			<string>upDownArrow</string>
			<string>northWestArrow</string>
			<string>northEastArrow</string>
			<string>southEastArrow</string>
			<string>southWestArrow</string>
			<string>leftStrokeArrow</string>
			<string>rightStrokeArrow</string>
			<string>leftWaveArrow</string>
			<string>rightWaveArrow</string>
			<string>leftTwoheadedArrow</string>
			<string>upTwoHeadedArrow</string>
			<string>rightTwoheadedArrow</string>
			<string>downTwoheadedArrow</string>
			<string>leftTailArrow</string>
			<string>rightTailArrow</string>
			<string>leftFrombarArrow</string>
			<string>upFrombarArrow</string>
			<string>rightFrombarArrow</string>
			<string>downFrombarArrow</string>
			<string>upDownbaseArrow</string>
			<string>leftHookArrow</string>
			<string>rightHookArrow</string>
			<string>leftLoopArrow</string>
			<string>rightLoopArrow</string>
			<string>leftRightWaveArrow</string>
			<string>leftRightStrokeArrow</string>
			<string>downZigzagArrow</string>
			<string>upTipLeftArrow</string>
			<string>upTipRightArrow</string>
			<string>downTipLeftArrow</string>
			<string>downTipRightArrow</string>
			<string>rightCornerDownArrow</string>
			<string>carriagereturn</string>
			<string>topCircleLeftArrow</string>
			<string>topCircleRightArrow</string>
			<string>northWestToLongbarArrow</string>
			<string>leftToBarOverRightToBarArrow</string>
			<string>anticlockwiseOpenCircleArrow</string>
			<string>clockwiseOpenCircleArrow</string>
			<string>leftBarbUpHarpoon</string>
			<string>leftBarbDownHarpoon</string>
			<string>upBarbRightharpoon</string>
			<string>upBarbLeftharpoon</string>
			<string>rightBarbUpHarpoon</string>
			<string>rightBarbdownHarpoon</string>
			<string>downBarbRightHarpoon</string>
			<string>downBarbLeftHarpoon</string>
			<string>rightOverLeftArrow</string>
			<string>upAndDownArrow</string>
			<string>leftAndRightArrow</string>
			<string>leftDoublePairedArrow</string>
			<string>upDoublePairedArrow</string>
			<string>rightDoublePairedArrow</string>
			<string>downDoublePairedArrow</string>
			<string>leftOverRightHarpoon</string>
			<string>rightOverLeftHarpoon</string>
			<string>leftDoubleStrokeArrow</string>
			<string>leftRightDoubleStrokeArrow</string>
			<string>rightDoubleStrokeArrow</string>
			<string>leftDoubleArrow</string>
			<string>upDoubleArrow</string>
			<string>rightDoubleArrow</string>
			<string>downDoubleArrow</string>
			<string>leftRightDoubleArrow</string>
			<string>upDownDoubleArrow</string>
			<string>northWestDoubleArrow</string>
			<string>northEastDoubleArrow</string>
			<string>southEastDoubleArrow</string>
			<string>southWestDoubleArrow</string>
			<string>leftTripleArrow</string>
			<string>rightTripleArrow</string>
			<string>leftSquiggleArrow</string>
			<string>rightSquiggleArrow</string>
			<string>pageup</string>
			<string>pagedown</string>
			<string>leftDashArrow</string>
			<string>upDashArrow</string>
			<string>rightDashArrow</string>
			<string>dashdownArrow</string>
			<string>leftTabArrow</string>
			<string>rightTabArrow</string>
			<string>leftWhiteArrow</string>
			<string>upWhiteArrow</string>
			<string>rightWhiteArrow</string>
			<string>downWhiteArrow</string>
			<string>capslock</string>
			<string>upOnPedestalWhiteArrow</string>
			<string>upArrowOnPedestalHorizontalWhiteBar</string>
			<string>upArrowOnPedestalVerticalWhiteBar</string>
			<string>upDoubleWhiteArrow</string>
			<string>upDoubleOnPedestalWhiteArrow</string>
			<string>rightFromWallWhiteArrow</string>
			<string>northWestArrowToCorner</string>
			<string>southEastArrowToCorner</string>
			<string>upDownWhiteArrow</string>
			<string>rightCircleArrow</string>
			<string>downAndUpArrow</string>
			<string>threeRightArrow</string>
			<string>leftVerticalStrokeArrow</string>
			<string>rightVerticalStrokeArrow</string>
			<string>leftRightVerticalStrokeArrow</string>
			<string>leftDoubleVerticalStrokeArrow</string>
			<string>rightDoubleVerticalStrokeArrow</string>
			<string>leftRightDoubleVerticalStrokeArrow</string>
			<string>leftOpenHeadedArrow</string>
			<string>rightOpenHeadedArrow</string>
			<string>leftRightOpenHeadedArrow</string>
			<string>upQuadrupleArrow</string>
			<string>downQuadrupleArrow</string>
			<string>anticlockwiseGappedCircleArrow</string>
			<string>clockwiseGappedCircleArrow</string>
			<string>rightCircledPlusArrow</string>
			<string>leftLongArrow</string>
			<string>rightLongArrow</string>
			<string>leftRightLongArrow</string>
			<string>leftLongDoubleArrow</string>
			<string>rightLongDoubleArrow</string>
			<string>leftRightLongDoubleArrow</string>
			<string>leftLongFromBarArrow</string>
			<string>rightLongFromBarArrow</string>
			<string>leftLongDoubleFromBarArrow</string>
			<string>rightLongDoubleFromBarArrow</string>
			<string>rightLongSquiggleArrow</string>
			<string>rightTwoHeadedArrowWithVerticalStroke</string>
			<string>rightTwoHeadedArrowWithDoubleVerticalStroke</string>
			<string>leftDoubleArrowWithVerticalStroke</string>
			<string>rightDoubleArrowWithVerticalStroke</string>
			<string>leftRightDoubleArrowWithVerticalStroke</string>
			<string>rightTwoHeadedArrowFromBar</string>
			<string>leftDoubleArrowFromBar</string>
			<string>rightDoubleArrowFromBar</string>
			<string>downArrowWithHorizontalStroke</string>
			<string>upArrowWithHorizontalStroke</string>
			<string>upTripleArrow</string>
			<string>downTripleArrow</string>
			<string>leftDoubleDashArrow</string>
			<string>rightDoubleDashArrow</string>
			<string>leftTripleDashArrow</string>
			<string>rightTripleDashArrow</string>
			<string>rightTwoHeadedTripleDashArrow</string>
			<string>rightArrowWithDottedStem</string>
			<string>upArrowToBar</string>
			<string>downArrowToBar</string>
			<string>rightArrowWithTailWithVerticalStroke</string>
			<string>rightArrowWithTailWithDoubleVerticalStroke</string>
			<string>rightTwoHeadedArrowWithTail</string>
			<string>rightTwoHeadedArrowWithTailWithVerticalStroke</string>
			<string>rightTwoHeadedArrowWithTailWithDoubleVerticalStroke</string>
			<string>leftArrowTail</string>
			<string>rightArrowTail</string>
			<string>leftDoubleArrowTail</string>
			<string>rightDoubleArrowTail</string>
			<string>leftArrowToBlackDiamond</string>
			<string>rightArrowToBlackDiamond</string>
			<string>leftArrowFromBarToBlackDiamond</string>
			<string>rightArrowFromBarToBlackDiamond</string>
			<string>northWestAndSouthEastArrow</string>
			<string>northEastAndSouthWestArrow</string>
			<string>northWestArrowWithHook</string>
			<string>northEastArrowWithHook</string>
			<string>southEastArrowWithHook</string>
			<string>southWestArrowWithHook</string>
			<string>northWestArrowAndNorthEastArrow</string>
			<string>northEastArrowAndSouthEastArrow</string>
			<string>southEastArrowAndSouthWestArrow</string>
			<string>southWestArrowAndNorthWestArrow</string>
			<string>southEastArrowCrossingNorthEastArrow</string>
			<string>northEastArrowCrossingSouthEastArrow</string>
			<string>fallingDiagonalCrossingNorthEastArrow</string>
			<string>risingDiagonalCrossingSouthEastArrow</string>
			<string>northEastArrowCrossingNorthWestArrow</string>
			<string>northWestArrowCrossingNorthEastArrow</string>
			<string>waveArrowDirectlyRight</string>
			<string>rightThenCurvingUpArrow</string>
			<string>rightThenCurvingDownArrow</string>
			<string>downThenCurvingLeftArrow</string>
			<string>downThenCurvingRightArrow</string>
			<string>rightSideArcClockwiseArrow</string>
			<string>leftSideArcAnticlockwiseArrow</string>
			<string>topArcAnticlockwiseArrow</string>
			<string>bottomArcAnticlockwiseArrow</string>
			<string>topArcClockwiseArrowWithMinus</string>
			<string>topArcAnticlockwiseArrowWithPlus</string>
			<string>lowerRightSemicircularClockwiseArrow</string>
			<string>lowerLeftSemicircularAnticlockwiseArrow</string>
			<string>anticlockwiseClosedCircleArrow</string>
			<string>clockwiseClosedCircleArrow</string>
			<string>rightArrowAboveShortLeftArrow</string>
			<string>leftArrowAboveShortRightArrow</string>
			<string>shortRightArrowAboveLeftArrow</string>
			<string>rightArrowWithPlusBelow</string>
			<string>leftArrowWithPlusBelow</string>
			<string>rightArrowThroughX</string>
			<string>leftrightarrowthroughcircle</string>
			<string>uptwoheadedarrowfromcircle</string>
			<string>leftBarbUpRightBarbDownHarpoon</string>
			<string>leftBarbDownRightBarbUpHarpoon</string>
			<string>upBarbRightDownBarbLeftHarpoon</string>
			<string>upBarbLeftDownBarbRightHarpoon</string>
			<string>leftBarbUpRightBarbUpHarpoon</string>
			<string>upBarbRightDownBarbRightHarpoon</string>
			<string>leftBarbDownRightBarbDownHarpoon</string>
			<string>upBarbLeftDownBarbLeftHarpoon</string>
			<string>leftHarpoonWithBarbUpToBar</string>
			<string>rightHarpoonWithBarbUpToBar</string>
			<string>upHarpoonWithBarbRightToBar</string>
			<string>downHarpoonWithBarbRightToBar</string>
			<string>leftHarpoonWithBarbDownToBar</string>
			<string>rightHarpoonWithBarbDownToBar</string>
			<string>upHarpoonWithBarbLeftToBar</string>
			<string>downHarpoonWithBarbLeftToBar</string>
			<string>leftHarpoonWithBarbUpFromBar</string>
			<string>rightHarpoonWithBarbUpFromBar</string>
			<string>upHarpoonWithBarbRightFromBar</string>
			<string>downHarpoonWithBarbRightFromBar</string>
			<string>leftHarpoonWithBarbDownFromBar</string>
			<string>rightHarpoonWithBarbDownFromBar</string>
			<string>upHarpoonWithBarbLeftFromBar</string>
			<string>downHarpoonWithBarbLeftFromBar</string>
			<string>leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown</string>
			<string>upHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight</string>
			<string>rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown</string>
			<string>downHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight</string>
			<string>leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp</string>
			<string>leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown</string>
			<string>rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp</string>
			<string>rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown</string>
			<string>leftHarpoonWithBarbUpAboveLongDash</string>
			<string>leftHarpoonWithBarbDownBelowLongDash</string>
			<string>rightHarpoonWithBarbUpAboveLongDash</string>
			<string>rightHarpoonWithBarbDownBelowLongDash</string>
			<string>upHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight</string>
			<string>downHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight</string>
			<string>rightDoubleArrowWithRoundedHead</string>
			<string>equalsSignAboveRightArrow</string>
			<string>tildeOperatorAboveRightArrow</string>
			<string>leftArrowAboveTildeOperator</string>
			<string>rightArrowAboveTildeOperator</string>
			<string>rightArrowAboveAlmostEqualTo</string>
			<string>lessThanAboveLeftArrow</string>
			<string>leftArrowThroughLessThan</string>
			<string>greaterThanAboveRightArrow</string>
			<string>subsetAboveRightArrow</string>
			<string>leftArrowThroughSubset</string>
			<string>supersetAboveLeftArrow</string>
			<string>leftTwoHeadedArrowWithVerticalStroke</string>
			<string>leftArrowWithTailWithDoubleVerticalStroke</string>
			<string>leftTwoHeadedArrowWithTailWithDoubleVerticalStroke</string>
		</array>
		<key>name</key>
		<string>Arrows</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>leftArrow</string>
			<string>rightArrow</string>
			<string>leftRightArrow</string>

			<string>leftTailArrow</string>
			<string>rightTailArrow</string>
			<string>rightArrowWithTailWithVerticalStroke</string>
			<string>rightArrowWithTailWithDoubleVerticalStroke</string>
			<string>leftArrowTail</string>
			<string>rightArrowTail</string>
			<string>leftDoubleArrowTail</string>
			<string>rightDoubleArrowTail</string>
			<string>leftArrowWithTailWithDoubleVerticalStroke</string>

			<string>leftTwoheadedArrow</string>
			<string>rightTwoheadedArrow</string>
			<string>rightTwoHeadedArrowWithVerticalStroke</string>
			<string>rightTwoHeadedArrowWithDoubleVerticalStroke</string>
			<string>rightTwoHeadedTripleDashArrow</string>
			<string>rightTwoHeadedArrowWithTail</string>
			<string>rightTwoHeadedArrowWithTailWithVerticalStroke</string>
			<string>rightTwoHeadedArrowWithTailWithDoubleVerticalStroke</string>
			<string>leftTwoHeadedArrowWithVerticalStroke</string>
			<string>leftTwoHeadedArrowWithTailWithDoubleVerticalStroke</string>
			<string>leftTwoHeadedArrowWithTail</string>

			<string>leftBarbUpHarpoon</string>
			<string>leftBarbDownHarpoon</string>
			<string>rightBarbUpHarpoon</string>
			<string>rightBarbdownHarpoon</string>
			<string>leftBarbUpRightBarbDownHarpoon</string>
			<string>leftBarbDownRightBarbUpHarpoon</string>
			<string>leftBarbUpRightBarbUpHarpoon</string>
			<string>leftBarbDownRightBarbDownHarpoon</string>
			<string>leftHarpoonWithBarbUpToBar</string>
			<string>rightHarpoonWithBarbUpToBar</string>
			<string>leftHarpoonWithBarbDownToBar</string>
			<string>rightHarpoonWithBarbDownToBar</string>

			<string>leftTabArrow</string>
			<string>rightTabArrow</string>

			<string>leftFrombarArrow</string>
			<string>rightFrombarArrow</string>
			<string>leftLongFromBarArrow</string>
			<string>rightLongFromBarArrow</string>
			<string>leftLongDoubleFromBarArrow</string>
			<string>rightLongDoubleFromBarArrow</string>
			<string>rightTwoHeadedArrowFromBar</string>
			<string>leftDoubleArrowFromBar</string>
			<string>rightDoubleArrowFromBar</string>
			<string>leftArrowFromBarToBlackDiamond</string>
			<string>rightArrowFromBarToBlackDiamond</string>
			<string>leftHarpoonWithBarbUpFromBar</string>
			<string>rightHarpoonWithBarbUpFromBar</string>
			<string>leftHarpoonWithBarbDownFromBar</string>
			<string>rightHarpoonWithBarbDownFromBar</string>

			<string>leftToBarOverRightToBarArrow</string>
			<string>rightOverLeftArrow</string>
			<string>leftAndRightArrow</string>
			<string>leftDoublePairedArrow</string>
			<string>rightDoublePairedArrow</string>
			<string>leftOverRightHarpoon</string>
			<string>rightOverLeftHarpoon</string>
			<string>rightArrowAboveShortLeftArrow</string>
			<string>leftArrowAboveShortRightArrow</string>
			<string>shortRightArrowAboveLeftArrow</string>
			<string>rightArrowWithPlusBelow</string>
			<string>leftArrowWithPlusBelow</string>
			<string>leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown</string>
			<string>rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown</string>
			<string>leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp</string>
			<string>leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown</string>
			<string>rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp</string>
			<string>rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown</string>
			<string>leftHarpoonWithBarbUpAboveLongDash</string>
			<string>leftHarpoonWithBarbDownBelowLongDash</string>
			<string>rightHarpoonWithBarbUpAboveLongDash</string>
			<string>rightHarpoonWithBarbDownBelowLongDash</string>
			<string>equalsSignAboveRightArrow</string>
			<string>tildeOperatorAboveRightArrow</string>
			<string>leftArrowAboveTildeOperator</string>
			<string>rightArrowAboveTildeOperator</string>
			<string>rightArrowAboveAlmostEqualTo</string>
			<string>lessThanAboveLeftArrow</string>
			<string>greaterThanAboveRightArrow</string>
			<string>subsetAboveRightArrow</string>
			<string>supersetAboveLeftArrow</string>
			<string>leftDoubleStrokeArrow</string>
			<string>leftRightDoubleStrokeArrow</string>
			<string>rightDoubleStrokeArrow</string>
			<string>leftDoubleArrow</string>
			<string>rightDoubleArrow</string>
			<string>leftRightDoubleArrow</string>
			<string>leftDoubleVerticalStrokeArrow</string>
			<string>rightDoubleVerticalStrokeArrow</string>
			<string>leftRightDoubleVerticalStrokeArrow</string>
			<string>leftLongDoubleArrow</string>
			<string>rightLongDoubleArrow</string>
			<string>leftRightLongDoubleArrow</string>
			<string>leftDoubleArrowWithVerticalStroke</string>
			<string>rightDoubleArrowWithVerticalStroke</string>
			<string>leftRightDoubleArrowWithVerticalStroke</string>
			<string>leftDoubleDashArrow</string>
			<string>rightDoubleDashArrow</string>
			<string>rightDoubleArrowWithRoundedHead</string>

			<string>leftLongArrow</string>
			<string>rightLongArrow</string>
			<string>leftRightLongArrow</string>
			<string>rightLongSquiggleArrow</string>

			<string>leftWaveArrow</string>
			<string>rightWaveArrow</string>
			<string>leftHookArrow</string>
			<string>rightHookArrow</string>
			<string>leftLoopArrow</string>
			<string>rightLoopArrow</string>
			<string>leftRightWaveArrow</string>
			<string>leftRightStrokeArrow</string>
			<string>rightCornerDownArrow</string>
			<string>leftTripleArrow</string>
			<string>rightTripleArrow</string>
			<string>leftSquiggleArrow</string>
			<string>rightSquiggleArrow</string>
			<string>leftDashArrow</string>
			<string>rightDashArrow</string>
			<string>leftWhiteArrow</string>
			<string>rightWhiteArrow</string>
			<string>rightFromWallWhiteArrow</string>
			<string>rightCircleArrow</string>
			<string>threeRightArrow</string>
			<string>leftVerticalStrokeArrow</string>
			<string>rightVerticalStrokeArrow</string>
			<string>leftRightVerticalStrokeArrow</string>
			<string>leftOpenHeadedArrow</string>
			<string>rightOpenHeadedArrow</string>
			<string>leftRightOpenHeadedArrow</string>
			<string>rightCircledPlusArrow</string>
			<string>leftTripleDashArrow</string>
			<string>rightTripleDashArrow</string>
			<string>rightArrowWithDottedStem</string>
			<string>leftArrowToBlackDiamond</string>
			<string>rightArrowToBlackDiamond</string>
			<string>waveArrowDirectlyRight</string>
			<string>rightThenCurvingUpArrow</string>
			<string>rightThenCurvingDownArrow</string>
			<string>rightSideArcClockwiseArrow</string>
			<string>leftSideArcAnticlockwiseArrow</string>
			<string>rightArrowThroughX</string>
			<string>leftrightarrowthroughcircle</string>
			<string>leftArrowThroughLessThan</string>
			<string>leftArrowThroughSubset</string>
			<string>leftStrokeArrow</string>
			<string>rightStrokeArrow</string>
		</array>
		<key>name</key>
		<string>Arrows Horizontal</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>upArrow</string>
			<string>downArrow</string>
			<string>upDownArrow</string>
			<string>northWestArrow</string>
			<string>northEastArrow</string>
			<string>southEastArrow</string>
			<string>southWestArrow</string>
			<string>upTwoHeadedArrow</string>
			<string>downTwoheadedArrow</string>
			<string>upFrombarArrow</string>
			<string>downFrombarArrow</string>
			<string>upDownbaseArrow</string>
			<string>downZigzagArrow</string>
			<string>upTipLeftArrow</string>
			<string>upTipRightArrow</string>
			<string>downTipLeftArrow</string>
			<string>downTipRightArrow</string>
			<string>carriagereturn</string>
			<string>northWestToLongbarArrow</string>
			<string>upBarbRightharpoon</string>
			<string>upBarbLeftharpoon</string>
			<string>downBarbRightHarpoon</string>
			<string>downBarbLeftHarpoon</string>
			<string>upAndDownArrow</string>
			<string>upDoublePairedArrow</string>
			<string>downDoublePairedArrow</string>
			<string>upDoubleArrow</string>
			<string>downDoubleArrow</string>
			<string>upDownDoubleArrow</string>
			<string>northWestDoubleArrow</string>
			<string>northEastDoubleArrow</string>
			<string>southEastDoubleArrow</string>
			<string>southWestDoubleArrow</string>
			<string>pageup</string>
			<string>pagedown</string>
			<string>upDashArrow</string>
			<string>dashdownArrow</string>
			<string>upWhiteArrow</string>
			<string>downWhiteArrow</string>
			<string>capslock</string>
			<string>upOnPedestalWhiteArrow</string>
			<string>upArrowOnPedestalHorizontalWhiteBar</string>
			<string>upArrowOnPedestalVerticalWhiteBar</string>
			<string>upDoubleWhiteArrow</string>
			<string>upDoubleOnPedestalWhiteArrow</string>
			<string>northWestArrowToCorner</string>
			<string>southEastArrowToCorner</string>
			<string>upDownWhiteArrow</string>
			<string>downAndUpArrow</string>
			<string>upQuadrupleArrow</string>
			<string>downQuadrupleArrow</string>
			<string>downArrowWithHorizontalStroke</string>
			<string>upArrowWithHorizontalStroke</string>
			<string>upTripleArrow</string>
			<string>downTripleArrow</string>
			<string>upArrowToBar</string>
			<string>downArrowToBar</string>
			<string>northWestAndSouthEastArrow</string>
			<string>northEastAndSouthWestArrow</string>
			<string>northWestArrowWithHook</string>
			<string>northEastArrowWithHook</string>
			<string>southEastArrowWithHook</string>
			<string>southWestArrowWithHook</string>
			<string>northWestArrowAndNorthEastArrow</string>
			<string>northEastArrowAndSouthEastArrow</string>
			<string>southEastArrowAndSouthWestArrow</string>
			<string>southWestArrowAndNorthWestArrow</string>
			<string>southEastArrowCrossingNorthEastArrow</string>
			<string>northEastArrowCrossingSouthEastArrow</string>
			<string>fallingDiagonalCrossingNorthEastArrow</string>
			<string>risingDiagonalCrossingSouthEastArrow</string>
			<string>northEastArrowCrossingNorthWestArrow</string>
			<string>northWestArrowCrossingNorthEastArrow</string>
			<string>downThenCurvingLeftArrow</string>
			<string>downThenCurvingRightArrow</string>
			<string>uptwoheadedarrowfromcircle</string>
			<string>upBarbRightDownBarbLeftHarpoon</string>
			<string>upBarbLeftDownBarbRightHarpoon</string>
			<string>upBarbRightDownBarbRightHarpoon</string>
			<string>upBarbLeftDownBarbLeftHarpoon</string>
			<string>upHarpoonWithBarbRightToBar</string>
			<string>downHarpoonWithBarbRightToBar</string>
			<string>upHarpoonWithBarbLeftToBar</string>
			<string>downHarpoonWithBarbLeftToBar</string>
			<string>upHarpoonWithBarbRightFromBar</string>
			<string>downHarpoonWithBarbRightFromBar</string>
			<string>upHarpoonWithBarbLeftFromBar</string>
			<string>downHarpoonWithBarbLeftFromBar</string>
			<string>upHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight</string>
			<string>downHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight</string>
			<string>upHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight</string>
			<string>downHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight</string>
		</array>
		<key>name</key>
		<string>Arrows Vertical and Diagonal</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
		<string>_smart.Arrow.mid</string>
		<string>_smart.DoubleArrow.mid</string>
		<string>DoubleArrow_short.mid</string>
		<string>_smart.ArrowEnd</string>
		<string>rightArrow.lft</string>
		<string>ArrowEnd.lft</string>
		<string>FrombarArrowEnd.lft</string>
		<string>DoubleArrowEnd.lft</string>
		<string>FrombarDoubleArrowEnd.lft</string>
		<string>_smart.ArrowHead.top</string>
		<string>_smart.ArrowHead</string>
		<string>ArrowHead</string>
		<string>rightArrow.rgt</string>
		<string>harpoonrightup.rgt</string>
		<string>twoheadrightarrow.rgt</string>
		<string>DoubleArrowHead.rgt</string>
		<string>rightTabHarpoonUpArrow.rgt</string>
		<string>rightTabArrow.rgt</string>
		<string>Arrowend.rgt</string>
		<string>_ArrowTab</string>
		<string>_ArrowVerticalStroke</string>
		<string>_ArrowDoubleVerticalStroke</string>
		<string>_ArrowStroke</string>
		</array>
		<key>name</key>
		<string>Arrow Composed Components</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
		<string>ArrowStroke.mid</string>
		<string>ArrowVerticalStroke.mid</string>
		<string>ArrowDoubleVerticalStroke.mid</string>
		<string>DoubleArrowStroke.mid</string>
		<string>DoubleArrowVerticalStroke.mid</string>
		<string>DoubleArrow.mid</string>
		<string>DoubleArrowLong.mid</string>
		<string>DoublePairedArrow.mid</string>
		<string>VerticalArrow.mid</string>
		<string>Arrow.mid</string>
		<string>Arrow.end</string>
		<string>leftArrow.lft</string>
		<string>leftArrow.rgt</string>
		<string>leftTailArrow.rgt</string>
		<string>leftFrombarArrow.rgt</string>
		<string>leftTabArrow.lft</string>
		<string>leftTabHarpoonDownArrow.lft</string>
		<string>leftTabHarpoonUpArrow.lft</string>
		<string>rightTabHarpoonDownArrow.rgt</string>
		<string>leftDoubleArrow.lft</string>
		<string>leftDoubleArrow.rgt</string>
		<string>leftFrombarDoubleArrow.rgt</string>
		<string>twoheadleftarrow.lft</string>
		<string>ArrowDoubleVerticalStroke.mid_shiftleft1</string>
		<string>ArrowDoubleVerticalStroke.mid_shiftright1</string>
		<string>ArrowDoubleVerticalStroke.mid_shiftleft2</string>
		<string>ArrowDoubleVerticalStroke.mid_shiftright2</string>
		<string>leftHarpoonWithBarbDownBelowLongDash.rgt</string>
		<string>leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown.rgt</string>
		<string>leftHarpoonWithBarbUpAboveLongDash.rgt</string>
		<string>leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp.rgt</string>
		<string>rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown.rgt</string>
		<string>rightHarpoonWithBarbDownBelowLongDash.rgt</string>
		<string>rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp.rgt</string>
		<string>rightHarpoonWithBarbUpAboveLongDash.rgt</string>
		<string>rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown.rgt</string>
		<string>harpoonrightdown.rgt</string>
		<string>leftToBarOverRightToBarArrow.rgt</string>
		<string>leftOverRightHarpoon.rgt</string>
		<string>rightOverLeftHarpoon.rgt</string>
		<string>rightOverLeftArrow.rgt</string>
		<string>leftAndRightArrow.rgt</string>
		<string>rightDoublePairedArrow.rgt</string>
		<string>leftDoublePairedArrow.rgt</string>
		<string>leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown.rgt</string>
		<string>rightArrow.rgt.mark</string>
		<string>leftArrowWithDottedStem.lft</string>
		<string>leftHarpoonWithBarbDownBelowLongDash.lft</string>
		<string>leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown.lft</string>
		<string>leftHarpoonWithBarbUpAboveLongDash.lft</string>
		<string>leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp.lft</string>
		<string>rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown.lft</string>
		<string>rightHarpoonWithBarbDownBelowLongDash.lft</string>
		<string>rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp.lft</string>
		<string>harpoonrightup.lft</string>
		<string>leftToBarOverRightToBarArrow.lft</string>
		<string>leftOverRightHarpoon.lft</string>
		<string>rightOverLeftHarpoon.lft</string>
		<string>rightOverLeftArrow.lft</string>
		<string>leftAndRightArrow.lft</string>
		<string>rightDoublePairedArrow.lft</string>
		<string>leftDoublePairedArrow.lft</string>
		<string>leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown.lft</string>
		<string>rightHarpoonWithBarbUpAboveLongDash.lft</string>
		<string>rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown.lft</string>
		<string>ArrowEnd.rgt</string>
		</array>
		<key>name</key>
		<string>Arrow Generated Components</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>integral</string>
			<string>dblIntegral</string>
			<string>tripleIntegral</string>
			<string>contourIntegral</string>
			<string>surfaceIntegral</string>
			<string>volumeIntegral</string>
			<string>clockwiseIntegral</string>
			<string>clockwiseContourIntegral</string>
			<string>anticlockwiseContourIntegral</string>
			<string>integraltp</string>
			<string>integralbt</string>
			<string>integralextension</string>
			<string>summationWithIntegral</string>
			<string>quadrupleIntegral</string>
			<string>finitePartIntegral</string>
			<string>doubleStrokeIntegral</string>
			<string>averageSlashIntegral</string>
			<string>circulationFunction</string>
			<string>anticlockwiseIntegral</string>
			<string>rectangularLineIntegral</string>
			<string>semicircularLineIntegral</string>
			<string>nopoleLineIntegral</string>
			<string>pointIntegral</string>
			<string>quaternionIntegral</string>
			<string>leftarrowHookIntegral</string>
			<string>timesIntegral</string>
			<string>intersectionIntegral</string>
			<string>integralWithUnion</string>
			<string>integralWithOverbar</string>
			<string>integralWithUnderbar</string>
		</array>
		<key>name</key>
		<string>Math Integrals</string>
	</dict>
</array>
</plist>
