<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
		<key>name</key>
		<string>Math Upright Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Alpha</string>
			<string>Beta</string>
			<string>Gamma</string>
			<string>Delta</string>
			<string>Epsilon</string>
			<string>Zeta</string>
			<string>Eta</string>
			<string>Theta</string>
			<string>Iota</string>
			<string>Kappa</string>
			<string>Lambda</string>
			<string>Mu</string>
			<string>Nu</string>
			<string>Xi</string>
			<string>Omicron</string>
			<string>Pi</string>
			<string>Rho</string>
			<string>ThetaSymbol</string>
			<string>Sigma</string>
			<string>Tau</string>
			<string>Upsilon</string>
			<string>Phi</string>
			<string>Chi</string>
			<string>Psi</string>
			<string>Omega</string>
			<string>alpha</string>
			<string>beta</string>
			<string>gamma</string>
			<string>delta</string>
			<string>epsilon</string>
			<string>epsilonLunateSymbol</string>
			<string>zeta</string>
			<string>eta</string>
			<string>theta</string>
			<string>thetaSymbol</string>
			<string>iota</string>
			<string>kappa</string>
			<string>kappaSymbol</string>
			<string>lambda</string>
			<string>mu</string>
			<string>nu</string>
			<string>xi</string>
			<string>omicron</string>
			<string>pi</string>
			<string>piSymbol</string>
			<string>rho</string>
			<string>rhoSymbol</string>
			<string>sigmafinal</string>
			<string>sigma</string>
			<string>tau</string>
			<string>upsilon</string>
			<string>phi</string>
			<string>phiSymbol</string>
			<string>chi</string>
			<string>psi</string>
			<string>omega</string>
		</array>
		<key>name</key>
		<string>Math Upright Greek</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Aitalic-math</string>
			<string>Bitalic-math</string>
			<string>Citalic-math</string>
			<string>Ditalic-math</string>
			<string>Eitalic-math</string>
			<string>Fitalic-math</string>
			<string>Gitalic-math</string>
			<string>Hitalic-math</string>
			<string>Iitalic-math</string>
			<string>Jitalic-math</string>
			<string>Kitalic-math</string>
			<string>Litalic-math</string>
			<string>Mitalic-math</string>
			<string>Nitalic-math</string>
			<string>Oitalic-math</string>
			<string>Pitalic-math</string>
			<string>Qitalic-math</string>
			<string>Ritalic-math</string>
			<string>Sitalic-math</string>
			<string>Titalic-math</string>
			<string>Uitalic-math</string>
			<string>Vitalic-math</string>
			<string>Witalic-math</string>
			<string>Xitalic-math</string>
			<string>Yitalic-math</string>
			<string>Zitalic-math</string>
			<string>aitalic-math</string>
			<string>bitalic-math</string>
			<string>citalic-math</string>
			<string>ditalic-math</string>
			<string>eitalic-math</string>
			<string>fitalic-math</string>
			<string>gitalic-math</string>
			<string>iitalic-math</string>
			<string>jitalic-math</string>
			<string>kitalic-math</string>
			<string>litalic-math</string>
			<string>mitalic-math</string>
			<string>nitalic-math</string>
			<string>oitalic-math</string>
			<string>pitalic-math</string>
			<string>qitalic-math</string>
			<string>ritalic-math</string>
			<string>sitalic-math</string>
			<string>titalic-math</string>
			<string>uitalic-math</string>
			<string>vitalic-math</string>
			<string>witalic-math</string>
			<string>xitalic-math</string>
			<string>yitalic-math</string>
			<string>zitalic-math</string>
			<string>idotlessitalic-math</string>
			<string>jdotlessitalic-math</string>
		</array>
		<key>name</key>
		<string>Math Italic Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Alphaitalic-math</string>
			<string>Betaitalic-math</string>
			<string>Gammaitalic-math</string>
			<string>Deltaitalic-math</string>
			<string>Epsilonitalic-math</string>
			<string>Zetaitalic-math</string>
			<string>Etaitalic-math</string>
			<string>Thetaitalic-math</string>
			<string>Iotaitalic-math</string>
			<string>Kappaitalic-math</string>
			<string>Lambdaitalic-math</string>
			<string>Muitalic-math</string>
			<string>Nuitalic-math</string>
			<string>Xiitalic-math</string>
			<string>Omicronitalic-math</string>
			<string>Piitalic-math</string>
			<string>Rhoitalic-math</string>
			<string>Sigmaitalic-math</string>
			<string>Tauitalic-math</string>
			<string>Upsilonitalic-math</string>
			<string>Phiitalic-math</string>
			<string>Chiitalic-math</string>
			<string>Psiitalic-math</string>
			<string>Omegaitalic-math</string>
			<string>alphaitalic-math</string>
			<string>betaitalic-math</string>
			<string>gammaitalic-math</string>
			<string>deltaitalic-math</string>
			<string>epsilonitalic-math</string>
			<string>zetaitalic-math</string>
			<string>etaitalic-math</string>
			<string>thetaitalic-math</string>
			<string>iotaitalic-math</string>
			<string>kappaitalic-math</string>
			<string>lambdaitalic-math</string>
			<string>muitalic-math</string>
			<string>nuitalic-math</string>
			<string>xiitalic-math</string>
			<string>omicronitalic-math</string>
			<string>piitalic-math</string>
			<string>rhoitalic-math</string>
			<string>sigmafinalitalic-math</string>
			<string>sigmaitalic-math</string>
			<string>tauitalic-math</string>
			<string>upsilonitalic-math</string>
			<string>phiitalic-math</string>
			<string>chiitalic-math</string>
			<string>psiitalic-math</string>
			<string>omegaitalic-math</string>
		</array>
		<key>name</key>
		<string>Math Italic Greek</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>ThetaSymbolitalic-math</string>
			<string>gradientitalic-math</string>
			<string>partialdiffitalic-math</string>
			<string>epsilonLunateSymbolitalic-math</string>
			<string>thetaSymbolitalic-math</string>
			<string>kappaSymbolitalic-math</string>
			<string>phiSymbolitalic-math</string>
			<string>rhoSymbolitalic-math</string>
			<string>piSymbolitalic-math</string>
		</array>
		<key>name</key>
		<string>Math Italic Symbols</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Abold-math</string>
			<string>Bbold-math</string>
			<string>Cbold-math</string>
			<string>Dbold-math</string>
			<string>Ebold-math</string>
			<string>Fbold-math</string>
			<string>Gbold-math</string>
			<string>Hbold-math</string>
			<string>Ibold-math</string>
			<string>Jbold-math</string>
			<string>Kbold-math</string>
			<string>Lbold-math</string>
			<string>Mbold-math</string>
			<string>Nbold-math</string>
			<string>Obold-math</string>
			<string>Pbold-math</string>
			<string>Qbold-math</string>
			<string>Rbold-math</string>
			<string>Sbold-math</string>
			<string>Tbold-math</string>
			<string>Ubold-math</string>
			<string>Vbold-math</string>
			<string>Wbold-math</string>
			<string>Xbold-math</string>
			<string>Ybold-math</string>
			<string>Zbold-math</string>
			<string>abold-math</string>
			<string>bbold-math</string>
			<string>cbold-math</string>
			<string>dbold-math</string>
			<string>ebold-math</string>
			<string>fbold-math</string>
			<string>gbold-math</string>
			<string>hbold-math</string>
			<string>ibold-math</string>
			<string>jbold-math</string>
			<string>kbold-math</string>
			<string>lbold-math</string>
			<string>mbold-math</string>
			<string>nbold-math</string>
			<string>obold-math</string>
			<string>pbold-math</string>
			<string>qbold-math</string>
			<string>rbold-math</string>
			<string>sbold-math</string>
			<string>tbold-math</string>
			<string>ubold-math</string>
			<string>vbold-math</string>
			<string>wbold-math</string>
			<string>xbold-math</string>
			<string>ybold-math</string>
			<string>zbold-math</string>
		</array>
		<key>name</key>
		<string>Math Bold Latin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Has special Layers</string>
		<key>predicate</key>
		<string>hasSpecialLayers == 1</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Alphabold-math</string>
			<string>Betabold-math</string>
			<string>Gammabold-math</string>
			<string>Deltabold-math</string>
			<string>Epsilonbold-math</string>
			<string>Zetabold-math</string>
			<string>Etabold-math</string>
			<string>Thetabold-math</string>
			<string>Iotabold-math</string>
			<string>Kappabold-math</string>
			<string>Lambdabold-math</string>
			<string>Mubold-math</string>
			<string>Nubold-math</string>
			<string>Xibold-math</string>
			<string>Omicronbold-math</string>
			<string>Pibold-math</string>
			<string>Rhobold-math</string>
			<string>Sigmabold-math</string>
			<string>Taubold-math</string>
			<string>Upsilonbold-math</string>
			<string>Phibold-math</string>
			<string>Chibold-math</string>
			<string>Psibold-math</string>
			<string>Omegabold-math</string>
			<string>alphabold-math</string>
			<string>betabold-math</string>
			<string>gammabold-math</string>
			<string>deltabold-math</string>
			<string>epsilonbold-math</string>
			<string>zetabold-math</string>
			<string>etabold-math</string>
			<string>thetabold-math</string>
			<string>iotabold-math</string>
			<string>kappabold-math</string>
			<string>lambdabold-math</string>
			<string>mubold-math</string>
			<string>nubold-math</string>
			<string>xibold-math</string>
			<string>omicronbold-math</string>
			<string>pibold-math</string>
			<string>rhobold-math</string>
			<string>sigmafinalbold-math</string>
			<string>sigmabold-math</string>
			<string>taubold-math</string>
			<string>upsilonbold-math</string>
			<string>phibold-math</string>
			<string>chibold-math</string>
			<string>psibold-math</string>
			<string>omegabold-math</string>
			<string>Digammabold-math</string>
			<string>digammabold-math</string>
		</array>
		<key>name</key>
		<string>Math Bold Greek</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Abolditalic-math</string>
			<string>Bbolditalic-math</string>
			<string>Cbolditalic-math</string>
			<string>Dbolditalic-math</string>
			<string>Ebolditalic-math</string>
			<string>Fbolditalic-math</string>
			<string>Gbolditalic-math</string>
			<string>Hbolditalic-math</string>
			<string>Ibolditalic-math</string>
			<string>Jbolditalic-math</string>
			<string>Kbolditalic-math</string>
			<string>Lbolditalic-math</string>
			<string>Mbolditalic-math</string>
			<string>Nbolditalic-math</string>
			<string>Obolditalic-math</string>
			<string>Pbolditalic-math</string>
			<string>Qbolditalic-math</string>
			<string>Rbolditalic-math</string>
			<string>Sbolditalic-math</string>
			<string>Tbolditalic-math</string>
			<string>Ubolditalic-math</string>
			<string>Vbolditalic-math</string>
			<string>Wbolditalic-math</string>
			<string>Xbolditalic-math</string>
			<string>Ybolditalic-math</string>
			<string>Zbolditalic-math</string>
			<string>abolditalic-math</string>
			<string>bbolditalic-math</string>
			<string>cbolditalic-math</string>
			<string>dbolditalic-math</string>
			<string>ebolditalic-math</string>
			<string>fbolditalic-math</string>
			<string>gbolditalic-math</string>
			<string>hbolditalic-math</string>
			<string>ibolditalic-math</string>
			<string>jbolditalic-math</string>
			<string>kbolditalic-math</string>
			<string>lbolditalic-math</string>
			<string>mbolditalic-math</string>
			<string>nbolditalic-math</string>
			<string>obolditalic-math</string>
			<string>pbolditalic-math</string>
			<string>qbolditalic-math</string>
			<string>rbolditalic-math</string>
			<string>sbolditalic-math</string>
			<string>tbolditalic-math</string>
			<string>ubolditalic-math</string>
			<string>vbolditalic-math</string>
			<string>wbolditalic-math</string>
			<string>xbolditalic-math</string>
			<string>ybolditalic-math</string>
			<string>zbolditalic-math</string>
		</array>
		<key>name</key>
		<string>Math Bold Italic Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Alphabolditalic-math</string>
			<string>Betabolditalic-math</string>
			<string>Gammabolditalic-math</string>
			<string>Deltabolditalic-math</string>
			<string>Epsilonbolditalic-math</string>
			<string>Zetabolditalic-math</string>
			<string>Etabolditalic-math</string>
			<string>Thetabolditalic-math</string>
			<string>Iotabolditalic-math</string>
			<string>Kappabolditalic-math</string>
			<string>Lambdabolditalic-math</string>
			<string>Mubolditalic-math</string>
			<string>Nubolditalic-math</string>
			<string>Xibolditalic-math</string>
			<string>Omicronbolditalic-math</string>
			<string>Pibolditalic-math</string>
			<string>Rhobolditalic-math</string>
			<string>Sigmabolditalic-math</string>
			<string>Taubolditalic-math</string>
			<string>Upsilonbolditalic-math</string>
			<string>Phibolditalic-math</string>
			<string>Chibolditalic-math</string>
			<string>Psibolditalic-math</string>
			<string>Omegabolditalic-math</string>
			<string>alphabolditalic-math</string>
			<string>betabolditalic-math</string>
			<string>gammabolditalic-math</string>
			<string>deltabolditalic-math</string>
			<string>epsilonbolditalic-math</string>
			<string>zetabolditalic-math</string>
			<string>etabolditalic-math</string>
			<string>thetabolditalic-math</string>
			<string>iotabolditalic-math</string>
			<string>kappabolditalic-math</string>
			<string>lambdabolditalic-math</string>
			<string>mubolditalic-math</string>
			<string>nubolditalic-math</string>
			<string>xibolditalic-math</string>
			<string>omicronbolditalic-math</string>
			<string>pibolditalic-math</string>
			<string>rhobolditalic-math</string>
			<string>sigmafinalbolditalic-math</string>
			<string>sigmabolditalic-math</string>
			<string>taubolditalic-math</string>
			<string>upsilonbolditalic-math</string>
			<string>phibolditalic-math</string>
			<string>chibolditalic-math</string>
			<string>psibolditalic-math</string>
			<string>omegabolditalic-math</string>
		</array>
		<key>name</key>
		<string>Math Bold Italic Greek</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>ThetaSymbolbolditalic-math</string>
			<string>gradientbolditalic-math</string>
			<string>partialdiffbolditalic-math</string>
			<string>epsilonLunateSymbolbolditalic-math</string>
			<string>thetaSymbolbolditalic-math</string>
			<string>kappaSymbolbolditalic-math</string>
			<string>phiSymbolbolditalic-math</string>
			<string>rhoSymbolbolditalic-math</string>
			<string>piSymbolbolditalic-math</string>
		</array>
		<key>name</key>
		<string>Math Bold Italic Symbols</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>A-fraktur</string>
			<string>B-fraktur</string>
			<string>D-fraktur</string>
			<string>E-fraktur</string>
			<string>F-fraktur</string>
			<string>G-fraktur</string>
			<string>J-fraktur</string>
			<string>K-fraktur</string>
			<string>L-fraktur</string>
			<string>M-fraktur</string>
			<string>N-fraktur</string>
			<string>O-fraktur</string>
			<string>P-fraktur</string>
			<string>Q-fraktur</string>
			<string>S-fraktur</string>
			<string>T-fraktur</string>
			<string>U-fraktur</string>
			<string>V-fraktur</string>
			<string>W-fraktur</string>
			<string>X-fraktur</string>
			<string>Y-fraktur</string>
			<string>a-fraktur</string>
			<string>b-fraktur</string>
			<string>c-fraktur</string>
			<string>d-fraktur</string>
			<string>e-fraktur</string>
			<string>f-fraktur</string>
			<string>g-fraktur</string>
			<string>h-fraktur</string>
			<string>i-fraktur</string>
			<string>j-fraktur</string>
			<string>k-fraktur</string>
			<string>l-fraktur</string>
			<string>m-fraktur</string>
			<string>n-fraktur</string>
			<string>o-fraktur</string>
			<string>p-fraktur</string>
			<string>q-fraktur</string>
			<string>r-fraktur</string>
			<string>s-fraktur</string>
			<string>t-fraktur</string>
			<string>u-fraktur</string>
			<string>v-fraktur</string>
			<string>w-fraktur</string>
			<string>x-fraktur</string>
			<string>y-fraktur</string>
			<string>z-fraktur</string>
		</array>
		<key>name</key>
		<string>Math Fraktur</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Ascript-math</string>
			<string>Cscript-math</string>
			<string>Dscript-math</string>
			<string>Gscript-math</string>
			<string>Jscript-math</string>
			<string>Kscript-math</string>
			<string>Nscript-math</string>
			<string>Oscript-math</string>
			<string>Pscript-math</string>
			<string>Qscript-math</string>
			<string>Sscript-math</string>
			<string>Tscript-math</string>
			<string>Uscript-math</string>
			<string>Vscript-math</string>
			<string>Wscript-math</string>
			<string>Xscript-math</string>
			<string>Yscript-math</string>
			<string>Zscript-math</string>
			<string>ascript-math</string>
			<string>bscript-math</string>
			<string>cscript-math</string>
			<string>dscript-math</string>
			<string>fscript-math</string>
			<string>hscript-math</string>
			<string>iscript-math</string>
			<string>jscript-math</string>
			<string>kscript-math</string>
			<string>lscript-math</string>
			<string>mscript-math</string>
			<string>nscript-math</string>
			<string>pscript-math</string>
			<string>qscript-math</string>
			<string>rscript-math</string>
			<string>sscript-math</string>
			<string>tscript-math</string>
			<string>uscript-math</string>
			<string>vscript-math</string>
			<string>wscript-math</string>
			<string>xscript-math</string>
			<string>yscript-math</string>
			<string>zscript-math</string>
		</array>
		<key>name</key>
		<string>Math Script</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>AdoubleStruck</string>
			<string>BdoubleStruck</string>
			<string>CdoubleStruck</string>
			<string>DdoubleStruck</string>
			<string>EdoubleStruck</string>
			<string>FdoubleStruck</string>
			<string>GdoubleStruck</string>
			<string>HdoubleStruck</string>
			<string>IdoubleStruck</string>
			<string>JdoubleStruck</string>
			<string>KdoubleStruck</string>
			<string>LdoubleStruck</string>
			<string>MdoubleStruck</string>
			<string>NdoubleStruck</string>
			<string>OdoubleStruck</string>
			<string>PdoubleStruck</string>
			<string>QdoubleStruck</string>
			<string>RdoubleStruck</string>
			<string>SdoubleStruck</string>
			<string>TdoubleStruck</string>
			<string>UdoubleStruck</string>
			<string>VdoubleStruck</string>
			<string>WdoubleStruck</string>
			<string>XdoubleStruck</string>
			<string>YdoubleStruck</string>
			<string>ZdoubleStruck</string>
			<string>adoubleStruck</string>
			<string>bdoubleStruck</string>
			<string>cdoubleStruck</string>
			<string>ddoubleStruck</string>
			<string>edoubleStruck</string>
			<string>fdoubleStruck</string>
			<string>gdoubleStruck</string>
			<string>hdoubleStruck</string>
			<string>idoubleStruck</string>
			<string>jdoubleStruck</string>
			<string>kdoubleStruck</string>
			<string>ldoubleStruck</string>
			<string>mdoubleStruck</string>
			<string>ndoubleStruck</string>
			<string>odoubleStruck</string>
			<string>pdoubleStruck</string>
			<string>qdoubleStruck</string>
			<string>rdoubleStruck</string>
			<string>sdoubleStruck</string>
			<string>tdoubleStruck</string>
			<string>udoubleStruck</string>
			<string>vdoubleStruck</string>
			<string>wdoubleStruck</string>
			<string>xdoubleStruck</string>
			<string>ydoubleStruck</string>
			<string>zdoubleStruck</string>
			<string>GammadoubleStruck</string>
			<string>PidoubleStruck</string>
			<string>gammadoubleStruck</string>
			<string>pidoubleStruck</string>
			<string>summationdoubleStruck</string>
			<string>DitalicDoubleStruck</string>
			<string>ditalicDoubleStruck</string>
			<string>eitalicDoubleStruck</string>
			<string>iitalicDoubleStruck</string>
			<string>jitalicDoubleStruck</string>
			<string>zerodoubleStruck</string>
			<string>onedoubleStruck</string>
			<string>twodoubleStruck</string>
			<string>threedoubleStruck</string>
			<string>fourdoubleStruck</string>
			<string>fivedoubleStruck</string>
			<string>sixdoubleStruck</string>
			<string>sevendoubleStruck</string>
			<string>eightdoubleStruck</string>
			<string>ninedoubleStruck</string>
		</array>
		<key>name</key>
		<string>Math Blackboard</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>ABold-fraktur</string>
			<string>BBold-fraktur</string>
			<string>CBold-fraktur</string>
			<string>DBold-fraktur</string>
			<string>EBold-fraktur</string>
			<string>FBold-fraktur</string>
			<string>GBold-fraktur</string>
			<string>HBold-fraktur</string>
			<string>IBold-fraktur</string>
			<string>JBold-fraktur</string>
			<string>KBold-fraktur</string>
			<string>LBold-fraktur</string>
			<string>MBold-fraktur</string>
			<string>NBold-fraktur</string>
			<string>OBold-fraktur</string>
			<string>PBold-fraktur</string>
			<string>QBold-fraktur</string>
			<string>RBold-fraktur</string>
			<string>SBold-fraktur</string>
			<string>TBold-fraktur</string>
			<string>UBold-fraktur</string>
			<string>VBold-fraktur</string>
			<string>WBold-fraktur</string>
			<string>XBold-fraktur</string>
			<string>YBold-fraktur</string>
			<string>ZBold-fraktur</string>
			<string>aBold-fraktur</string>
			<string>bBold-fraktur</string>
			<string>cBold-fraktur</string>
			<string>dBold-fraktur</string>
			<string>eBold-fraktur</string>
			<string>fBold-fraktur</string>
			<string>gBold-fraktur</string>
			<string>hBold-fraktur</string>
			<string>iBold-fraktur</string>
			<string>jBold-fraktur</string>
			<string>kBold-fraktur</string>
			<string>lBold-fraktur</string>
			<string>mBold-fraktur</string>
			<string>nBold-fraktur</string>
			<string>oBold-fraktur</string>
			<string>pBold-fraktur</string>
			<string>qBold-fraktur</string>
			<string>rBold-fraktur</string>
			<string>sBold-fraktur</string>
			<string>tBold-fraktur</string>
			<string>uBold-fraktur</string>
			<string>vBold-fraktur</string>
			<string>wBold-fraktur</string>
			<string>xBold-fraktur</string>
			<string>yBold-fraktur</string>
			<string>zBold-fraktur</string>
		</array>
		<key>name</key>
		<string>Math Bold Fraktur Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Aboldscript-math</string>
			<string>Bboldscript-math</string>
			<string>Cboldscript-math</string>
			<string>Dboldscript-math</string>
			<string>Eboldscript-math</string>
			<string>Fboldscript-math</string>
			<string>Gboldscript-math</string>
			<string>Hboldscript-math</string>
			<string>Iboldscript-math</string>
			<string>Jboldscript-math</string>
			<string>Kboldscript-math</string>
			<string>Lboldscript-math</string>
			<string>Mboldscript-math</string>
			<string>Nboldscript-math</string>
			<string>Oboldscript-math</string>
			<string>Pboldscript-math</string>
			<string>Qboldscript-math</string>
			<string>Rboldscript-math</string>
			<string>Sboldscript-math</string>
			<string>Tboldscript-math</string>
			<string>Uboldscript-math</string>
			<string>Vboldscript-math</string>
			<string>Wboldscript-math</string>
			<string>Xboldscript-math</string>
			<string>Yboldscript-math</string>
			<string>Zboldscript-math</string>
			<string>aboldscript-math</string>
			<string>bboldscript-math</string>
			<string>cboldscript-math</string>
			<string>dboldscript-math</string>
			<string>eboldscript-math</string>
			<string>fboldscript-math</string>
			<string>gboldscript-math</string>
			<string>hboldscript-math</string>
			<string>iboldscript-math</string>
			<string>jboldscript-math</string>
			<string>kboldscript-math</string>
			<string>lboldscript-math</string>
			<string>mboldscript-math</string>
			<string>nboldscript-math</string>
			<string>oboldscript-math</string>
			<string>pboldscript-math</string>
			<string>qboldscript-math</string>
			<string>rboldscript-math</string>
			<string>sboldscript-math</string>
			<string>tboldscript-math</string>
			<string>uboldscript-math</string>
			<string>vboldscript-math</string>
			<string>wboldscript-math</string>
			<string>xboldscript-math</string>
			<string>yboldscript-math</string>
			<string>zboldscript-math</string>
		</array>
		<key>name</key>
		<string>Math Bold Script Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Asans-math</string>
			<string>Bsans-math</string>
			<string>Csans-math</string>
			<string>Dsans-math</string>
			<string>Esans-math</string>
			<string>Fsans-math</string>
			<string>Gsans-math</string>
			<string>Hsans-math</string>
			<string>Isans-math</string>
			<string>Jsans-math</string>
			<string>Ksans-math</string>
			<string>Lsans-math</string>
			<string>Msans-math</string>
			<string>Nsans-math</string>
			<string>Osans-math</string>
			<string>Psans-math</string>
			<string>Qsans-math</string>
			<string>Rsans-math</string>
			<string>Ssans-math</string>
			<string>Tsans-math</string>
			<string>Usans-math</string>
			<string>Vsans-math</string>
			<string>Wsans-math</string>
			<string>Xsans-math</string>
			<string>Ysans-math</string>
			<string>Zsans-math</string>
			<string>asans-math</string>
			<string>bsans-math</string>
			<string>csans-math</string>
			<string>dsans-math</string>
			<string>esans-math</string>
			<string>fsans-math</string>
			<string>gsans-math</string>
			<string>hsans-math</string>
			<string>isans-math</string>
			<string>jsans-math</string>
			<string>ksans-math</string>
			<string>lsans-math</string>
			<string>msans-math</string>
			<string>nsans-math</string>
			<string>osans-math</string>
			<string>psans-math</string>
			<string>qsans-math</string>
			<string>rsans-math</string>
			<string>ssans-math</string>
			<string>tsans-math</string>
			<string>usans-math</string>
			<string>vsans-math</string>
			<string>wsans-math</string>
			<string>xsans-math</string>
			<string>ysans-math</string>
			<string>zsans-math</string>
		</array>
		<key>name</key>
		<string>Math Sans Upright Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Asansitalic-math</string>
			<string>Bsansitalic-math</string>
			<string>Csansitalic-math</string>
			<string>Dsansitalic-math</string>
			<string>Esansitalic-math</string>
			<string>Fsansitalic-math</string>
			<string>Gsansitalic-math</string>
			<string>Hsansitalic-math</string>
			<string>Isansitalic-math</string>
			<string>Jsansitalic-math</string>
			<string>Ksansitalic-math</string>
			<string>Lsansitalic-math</string>
			<string>Msansitalic-math</string>
			<string>Nsansitalic-math</string>
			<string>Osansitalic-math</string>
			<string>Psansitalic-math</string>
			<string>Qsansitalic-math</string>
			<string>Rsansitalic-math</string>
			<string>Ssansitalic-math</string>
			<string>Tsansitalic-math</string>
			<string>Usansitalic-math</string>
			<string>Vsansitalic-math</string>
			<string>Wsansitalic-math</string>
			<string>Xsansitalic-math</string>
			<string>Ysansitalic-math</string>
			<string>Zsansitalic-math</string>
			<string>asansitalic-math</string>
			<string>bsansitalic-math</string>
			<string>csansitalic-math</string>
			<string>dsansitalic-math</string>
			<string>esansitalic-math</string>
			<string>fsansitalic-math</string>
			<string>gsansitalic-math</string>
			<string>hsansitalic-math</string>
			<string>isansitalic-math</string>
			<string>jsansitalic-math</string>
			<string>ksansitalic-math</string>
			<string>lsansitalic-math</string>
			<string>msansitalic-math</string>
			<string>nsansitalic-math</string>
			<string>osansitalic-math</string>
			<string>psansitalic-math</string>
			<string>qsansitalic-math</string>
			<string>rsansitalic-math</string>
			<string>ssansitalic-math</string>
			<string>tsansitalic-math</string>
			<string>usansitalic-math</string>
			<string>vsansitalic-math</string>
			<string>wsansitalic-math</string>
			<string>xsansitalic-math</string>
			<string>ysansitalic-math</string>
			<string>zsansitalic-math</string>
		</array>
		<key>name</key>
		<string>Math Sans Italic Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Asansbold-math</string>
			<string>Bsansbold-math</string>
			<string>Csansbold-math</string>
			<string>Dsansbold-math</string>
			<string>Esansbold-math</string>
			<string>Fsansbold-math</string>
			<string>Gsansbold-math</string>
			<string>Hsansbold-math</string>
			<string>Isansbold-math</string>
			<string>Jsansbold-math</string>
			<string>Ksansbold-math</string>
			<string>Lsansbold-math</string>
			<string>Msansbold-math</string>
			<string>Nsansbold-math</string>
			<string>Osansbold-math</string>
			<string>Psansbold-math</string>
			<string>Qsansbold-math</string>
			<string>Rsansbold-math</string>
			<string>Ssansbold-math</string>
			<string>Tsansbold-math</string>
			<string>Usansbold-math</string>
			<string>Vsansbold-math</string>
			<string>Wsansbold-math</string>
			<string>Xsansbold-math</string>
			<string>Ysansbold-math</string>
			<string>Zsansbold-math</string>
			<string>asansbold-math</string>
			<string>bsansbold-math</string>
			<string>csansbold-math</string>
			<string>dsansbold-math</string>
			<string>esansbold-math</string>
			<string>fsansbold-math</string>
			<string>gsansbold-math</string>
			<string>hsansbold-math</string>
			<string>isansbold-math</string>
			<string>jsansbold-math</string>
			<string>ksansbold-math</string>
			<string>lsansbold-math</string>
			<string>msansbold-math</string>
			<string>nsansbold-math</string>
			<string>osansbold-math</string>
			<string>psansbold-math</string>
			<string>qsansbold-math</string>
			<string>rsansbold-math</string>
			<string>ssansbold-math</string>
			<string>tsansbold-math</string>
			<string>usansbold-math</string>
			<string>vsansbold-math</string>
			<string>wsansbold-math</string>
			<string>xsansbold-math</string>
			<string>ysansbold-math</string>
			<string>zsansbold-math</string>
		</array>
		<key>name</key>
		<string>Math Sans Bold Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Alphasansbold-math</string>
			<string>Betasansbold-math</string>
			<string>Gammasansbold-math</string>
			<string>Deltasansbold-math</string>
			<string>Epsilonsansbold-math</string>
			<string>Zetasansbold-math</string>
			<string>Etasansbold-math</string>
			<string>Thetasansbold-math</string>
			<string>Iotasansbold-math</string>
			<string>Kappasansbold-math</string>
			<string>Lambdasansbold-math</string>
			<string>Musansbold-math</string>
			<string>Nusansbold-math</string>
			<string>Xisansbold-math</string>
			<string>Omicronsansbold-math</string>
			<string>Pisansbold-math</string>
			<string>Rhosansbold-math</string>
			<string>Sigmasansbold-math</string>
			<string>Tausansbold-math</string>
			<string>Upsilonsansbold-math</string>
			<string>Phisansbold-math</string>
			<string>Chisansbold-math</string>
			<string>Psisansbold-math</string>
			<string>Omegasansbold-math</string>
			<string>alphasansbold-math</string>
			<string>betasansbold-math</string>
			<string>gammasansbold-math</string>
			<string>deltasansbold-math</string>
			<string>epsilonsansbold-math</string>
			<string>zetasansbold-math</string>
			<string>etasansbold-math</string>
			<string>thetasansbold-math</string>
			<string>iotasansbold-math</string>
			<string>kappasansbold-math</string>
			<string>lambdasansbold-math</string>
			<string>musansbold-math</string>
			<string>nusansbold-math</string>
			<string>xisansbold-math</string>
			<string>omicronsansbold-math</string>
			<string>pisansbold-math</string>
			<string>rhosansbold-math</string>
			<string>sigmafinalsansbold-math</string>
			<string>sigmasansbold-math</string>
			<string>tausansbold-math</string>
			<string>upsilonsansbold-math</string>
			<string>phisansbold-math</string>
			<string>chisansbold-math</string>
			<string>psisansbold-math</string>
			<string>omegasansbold-math</string>
		</array>
		<key>name</key>
		<string>Math Sans Bold Greek</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Asansbolditalic-math</string>
			<string>Bsansbolditalic-math</string>
			<string>Csansbolditalic-math</string>
			<string>Dsansbolditalic-math</string>
			<string>Esansbolditalic-math</string>
			<string>Fsansbolditalic-math</string>
			<string>Gsansbolditalic-math</string>
			<string>Hsansbolditalic-math</string>
			<string>Isansbolditalic-math</string>
			<string>Jsansbolditalic-math</string>
			<string>Ksansbolditalic-math</string>
			<string>Lsansbolditalic-math</string>
			<string>Msansbolditalic-math</string>
			<string>Nsansbolditalic-math</string>
			<string>Osansbolditalic-math</string>
			<string>Psansbolditalic-math</string>
			<string>Qsansbolditalic-math</string>
			<string>Rsansbolditalic-math</string>
			<string>Ssansbolditalic-math</string>
			<string>Tsansbolditalic-math</string>
			<string>Usansbolditalic-math</string>
			<string>Vsansbolditalic-math</string>
			<string>Wsansbolditalic-math</string>
			<string>Xsansbolditalic-math</string>
			<string>Ysansbolditalic-math</string>
			<string>Zsansbolditalic-math</string>
			<string>asansbolditalic-math</string>
			<string>bsansbolditalic-math</string>
			<string>csansbolditalic-math</string>
			<string>dsansbolditalic-math</string>
			<string>esansbolditalic-math</string>
			<string>fsansbolditalic-math</string>
			<string>gsansbolditalic-math</string>
			<string>hsansbolditalic-math</string>
			<string>isansbolditalic-math</string>
			<string>jsansbolditalic-math</string>
			<string>ksansbolditalic-math</string>
			<string>lsansbolditalic-math</string>
			<string>msansbolditalic-math</string>
			<string>nsansbolditalic-math</string>
			<string>osansbolditalic-math</string>
			<string>psansbolditalic-math</string>
			<string>qsansbolditalic-math</string>
			<string>rsansbolditalic-math</string>
			<string>ssansbolditalic-math</string>
			<string>tsansbolditalic-math</string>
			<string>usansbolditalic-math</string>
			<string>vsansbolditalic-math</string>
			<string>wsansbolditalic-math</string>
			<string>xsansbolditalic-math</string>
			<string>ysansbolditalic-math</string>
			<string>zsansbolditalic-math</string>
		</array>
		<key>name</key>
		<string>Math Sans Bold Italic Latin</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Alphasansbolditalic-math</string>
			<string>Betasansbolditalic-math</string>
			<string>Gammasansbolditalic-math</string>
			<string>Deltasansbolditalic-math</string>
			<string>Epsilonsansbolditalic-math</string>
			<string>Zetasansbolditalic-math</string>
			<string>Etasansbolditalic-math</string>
			<string>Thetasansbolditalic-math</string>
			<string>Iotasansbolditalic-math</string>
			<string>Kappasansbolditalic-math</string>
			<string>Lambdasansbolditalic-math</string>
			<string>Musansbolditalic-math</string>
			<string>Nusansbolditalic-math</string>
			<string>Xisansbolditalic-math</string>
			<string>Omicronsansbolditalic-math</string>
			<string>Pisansbolditalic-math</string>
			<string>Rhosansbolditalic-math</string>
			<string>Sigmasansbolditalic-math</string>
			<string>Tausansbolditalic-math</string>
			<string>Upsilonsansbolditalic-math</string>
			<string>Phisansbolditalic-math</string>
			<string>Chisansbolditalic-math</string>
			<string>Psisansbolditalic-math</string>
			<string>Omegasansbolditalic-math</string>
			<string>alphasansbolditalic-math</string>
			<string>betasansbolditalic-math</string>
			<string>gammasansbolditalic-math</string>
			<string>deltasansbolditalic-math</string>
			<string>epsilonsansbolditalic-math</string>
			<string>zetasansbolditalic-math</string>
			<string>etasansbolditalic-math</string>
			<string>thetasansbolditalic-math</string>
			<string>iotasansbolditalic-math</string>
			<string>kappasansbolditalic-math</string>
			<string>lambdasansbolditalic-math</string>
			<string>musansbolditalic-math</string>
			<string>nusansbolditalic-math</string>
			<string>xisansbolditalic-math</string>
			<string>omicronsansbolditalic-math</string>
			<string>pisansbolditalic-math</string>
			<string>rhosansbolditalic-math</string>
			<string>sigmafinalsansbolditalic-math</string>
			<string>sigmasansbolditalic-math</string>
			<string>tausansbolditalic-math</string>
			<string>upsilonsansbolditalic-math</string>
			<string>phisansbolditalic-math</string>
			<string>chisansbolditalic-math</string>
			<string>psisansbolditalic-math</string>
			<string>omegasansbolditalic-math</string>
		</array>
		<key>name</key>
		<string>Math Sans Bold Italic Greek</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>ThetaSymbolsansbolditalic-math</string>
			<string>gradientsansbolditalic-math</string>
			<string>partialdiffsansbolditalic-math</string>
			<string>epsilonLunateSymbolsansbolditalic-math</string>
			<string>thetaSymbolsansbolditalic-math</string>
			<string>kappaSymbolsansbolditalic-math</string>
			<string>phiSymbolsansbolditalic-math</string>
			<string>rhoSymbolsansbolditalic-math</string>
			<string>piSymbolsansbolditalic-math</string>
		</array>
		<key>name</key>
		<string>Math Sans Bold Italic Symbols</string>
	</dict>
</array>
</plist>
