<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>grave</string>
			<string>gravecomb</string>
			<string>acute</string>
			<string>acutecomb</string>
			<string>asciicircum</string>
			<string>circumflexcomb</string>
			<string>circumflex</string>
			<string>asciitilde</string>
			<string>tildecomb</string>
			<string>tilde</string>
			<string>macron</string>
			<string>overline</string>
			<string>macroncomb</string>
			<string>overlinecomb</string>
			<string>underscore</string>
			<string>lowlinecomb</string>
			<string>brevecomb</string>
			<string>breve</string>
			<string>period</string>
			<string>dotaccent</string>
			<string>dotaccentcomb</string>
			<string>dieresis</string>
			<string>dieresiscomb</string>
			<string>hookabovecomb</string>
			<string>ring</string>
			<string>ringcomb</string>
			<string>caron</string>
			<string>caroncomb</string>
			<string>leftharpoonabovecomb</string>
			<string>leftBarbUpHarpoon</string>
			<string>rightharpoonabovecomb</string>
			<string>rightBarbUpHarpoon</string>
			<string>rightarrowabovecomb</string>
			<string>rightArrow</string>
			<string>rightLongArrow</string>
			<string>threedotsabovecomb</string>
			<string>fourdotsabovecomb</string>
			<string>topsquarebracket</string>
			<string>bottomsquarebracket</string>
			<string>topparenthesis</string>
			<string>bottomparenthesis</string>
			<string>topcurlybracket</string>
			<string>bottomcurlybracket</string>
		</array>
		<key>name</key>
		<string>Math Accents</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>leftanglebracket-math</string>
			<string>rightanglebracket-math</string>
			<string>leftdoubleanglebracket-math</string>
			<string>rightdoubleanglebracket-math</string>
			<string>leftCeiling</string>
			<string>rightCeiling</string>
			<string>leftFloor</string>
			<string>rightFloor</string>
			<string>topLeftCorner</string>
			<string>topRightCorner</string>
			<string>bottomLeftCorner</string>
			<string>bottomRightCorner</string>
			<string>bar</string>
			<string>dblverticalbar</string>
			<string>tripleVerticalBarDelimiter</string>
			<string>slash</string>
			<string>backslash</string>
			<string>leftwhitesquarebracket-math</string>
			<string>rightwhitesquarebracket-math</string>
			<string>leftflattenedparenthesis-math</string>
			<string>rightflattenedparenthesis-math</string>
		</array>
		<key>name</key>
		<string>Math Delimiters</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>uni2190</string>
			<string>uni2191</string>
			<string>uni2192</string>
			<string>uni2193</string>
			<string>uni2194</string>
			<string>uni2195</string>
			<string>uni2196</string>
			<string>uni2197</string>
			<string>uni2198</string>
			<string>uni2199</string>
			<string>uni219A</string>
			<string>uni219B</string>
			<string>uni219C</string>
			<string>uni219D</string>
			<string>uni219E</string>
			<string>uni219F</string>
			<string>uni21A0</string>
			<string>uni21A1</string>
			<string>uni21A2</string>
			<string>uni21A3</string>
			<string>uni21A4</string>
			<string>uni21A5</string>
			<string>uni21A6</string>
			<string>uni21A7</string>
			<string>uni21A8</string>
			<string>uni21A9</string>
			<string>uni21AA</string>
			<string>uni21AB</string>
			<string>uni21AC</string>
			<string>uni21AD</string>
			<string>uni21AE</string>
			<string>uni21AF</string>
			<string>uni21B0</string>
			<string>uni21B1</string>
			<string>uni21B2</string>
			<string>uni21B3</string>
			<string>uni21B4</string>
			<string>uni21B5</string>
			<string>uni21B6</string>
			<string>uni21B7</string>
			<string>uni21B8</string>
			<string>uni21B9</string>
			<string>uni21BA</string>
			<string>uni21BB</string>
			<string>uni21BC</string>
			<string>uni21BD</string>
			<string>uni21BE</string>
			<string>uni21BF</string>
			<string>uni21C0</string>
			<string>uni21C1</string>
			<string>uni21C2</string>
			<string>uni21C3</string>
			<string>uni21C4</string>
			<string>uni21C5</string>
			<string>uni21C6</string>
			<string>uni21C7</string>
			<string>uni21C8</string>
			<string>uni21C9</string>
			<string>uni21CA</string>
			<string>uni21CB</string>
			<string>uni21CC</string>
			<string>uni21CD</string>
			<string>uni21CE</string>
			<string>uni21CF</string>
			<string>uni21D0</string>
			<string>uni21D1</string>
			<string>uni21D2</string>
			<string>uni21D3</string>
			<string>uni21D4</string>
			<string>uni21D5</string>
			<string>uni21D6</string>
			<string>uni21D7</string>
			<string>uni21D8</string>
			<string>uni21D9</string>
			<string>uni21DA</string>
			<string>uni21DB</string>
			<string>uni21DC</string>
			<string>uni21DD</string>
			<string>uni21DE</string>
			<string>uni21DF</string>
			<string>uni21E0</string>
			<string>uni21E1</string>
			<string>uni21E2</string>
			<string>uni21E3</string>
			<string>uni21E4</string>
			<string>uni21E5</string>
			<string>uni21E6</string>
			<string>uni21E7</string>
			<string>uni21E8</string>
			<string>uni21E9</string>
			<string>uni21EA</string>
			<string>uni21EB</string>
			<string>uni21EC</string>
			<string>uni21ED</string>
			<string>uni21EE</string>
			<string>uni21EF</string>
			<string>uni21F0</string>
			<string>uni21F1</string>
			<string>uni21F2</string>
			<string>uni21F3</string>
			<string>uni21F4</string>
			<string>uni21F5</string>
			<string>uni21F6</string>
			<string>uni21F7</string>
			<string>uni21F8</string>
			<string>uni21F9</string>
			<string>uni21FA</string>
			<string>uni21FB</string>
			<string>uni21FC</string>
			<string>uni21FD</string>
			<string>uni21FE</string>
			<string>uni21FF</string>
			<string>uni27F0</string>
			<string>uni27F1</string>
			<string>uni27F2</string>
			<string>uni27F3</string>
			<string>uni27F4</string>
			<string>uni27F5</string>
			<string>uni27F6</string>
			<string>uni27F7</string>
			<string>uni27F8</string>
			<string>uni27F9</string>
			<string>uni27FA</string>
			<string>uni27FB</string>
			<string>uni27FC</string>
			<string>uni27FD</string>
			<string>uni27FE</string>
			<string>uni27FF</string>
			<string>uni2900</string>
			<string>uni2901</string>
			<string>uni2902</string>
			<string>uni2903</string>
			<string>uni2904</string>
			<string>uni2905</string>
			<string>uni2906</string>
			<string>uni2907</string>
			<string>uni2908</string>
			<string>uni2909</string>
			<string>uni290A</string>
			<string>uni290B</string>
			<string>uni290C</string>
			<string>uni290D</string>
			<string>uni290E</string>
			<string>uni290F</string>
			<string>uni2910</string>
			<string>uni2911</string>
			<string>uni2912</string>
			<string>uni2913</string>
			<string>uni2914</string>
			<string>uni2915</string>
			<string>uni2916</string>
			<string>uni2917</string>
			<string>uni2918</string>
			<string>uni2919</string>
			<string>uni291A</string>
			<string>uni291B</string>
			<string>uni291C</string>
			<string>uni291D</string>
			<string>uni291E</string>
			<string>uni291F</string>
			<string>uni2920</string>
			<string>uni2921</string>
			<string>uni2922</string>
			<string>uni2923</string>
			<string>uni2924</string>
			<string>uni2925</string>
			<string>uni2926</string>
			<string>uni2927</string>
			<string>uni2928</string>
			<string>uni2929</string>
			<string>uni292A</string>
			<string>uni292D</string>
			<string>uni292E</string>
			<string>uni292F</string>
			<string>uni2930</string>
			<string>uni2931</string>
			<string>uni2932</string>
			<string>uni2933</string>
			<string>uni2934</string>
			<string>uni2935</string>
			<string>uni2936</string>
			<string>uni2937</string>
			<string>uni2938</string>
			<string>uni2939</string>
			<string>uni293A</string>
			<string>uni293B</string>
			<string>uni293C</string>
			<string>uni293D</string>
			<string>uni293E</string>
			<string>uni293F</string>
			<string>uni2940</string>
			<string>uni2941</string>
			<string>uni2942</string>
			<string>uni2943</string>
			<string>uni2944</string>
			<string>uni2945</string>
			<string>uni2946</string>
			<string>uni2947</string>
			<string>uni2948</string>
			<string>uni2949</string>
			<string>uni294A</string>
			<string>uni294B</string>
			<string>uni294C</string>
			<string>uni294D</string>
			<string>uni294E</string>
			<string>uni294F</string>
			<string>uni2950</string>
			<string>uni2951</string>
			<string>uni2952</string>
			<string>uni2953</string>
			<string>uni2954</string>
			<string>uni2955</string>
			<string>uni2956</string>
			<string>uni2957</string>
			<string>uni2958</string>
			<string>uni2959</string>
			<string>uni295A</string>
			<string>uni295B</string>
			<string>uni295C</string>
			<string>uni295D</string>
			<string>uni295E</string>
			<string>uni295F</string>
			<string>uni2960</string>
			<string>uni2961</string>
			<string>uni2962</string>
			<string>uni2963</string>
			<string>uni2964</string>
			<string>uni2965</string>
			<string>uni2966</string>
			<string>uni2967</string>
			<string>uni2968</string>
			<string>uni2969</string>
			<string>uni296A</string>
			<string>uni296B</string>
			<string>uni296C</string>
			<string>uni296D</string>
			<string>uni296E</string>
			<string>uni296F</string>
			<string>uni2970</string>
			<string>uni2971</string>
			<string>uni2972</string>
			<string>uni2973</string>
			<string>uni2974</string>
			<string>uni2975</string>
			<string>uni2976</string>
			<string>uni2977</string>
			<string>uni2978</string>
			<string>uni2979</string>
			<string>uni297A</string>
			<string>uni297B</string>
		</array>
		<key>name</key>
		<string>Mathematical Arrows</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>uni2190</string>
			<string>uni2192</string>
			<string>uni2194</string>
			<string>uni219A</string>
			<string>uni219B</string>
			<string>uni219C</string>
			<string>uni219D</string>
			<string>uni219E</string>
			<string>uni21A0</string>
			<string>uni21A2</string>
			<string>uni21A3</string>
			<string>uni21A4</string>
			<string>uni21A6</string>
			<string>uni21A9</string>
			<string>uni21AA</string>
			<string>uni21AB</string>
			<string>uni21AC</string>
			<string>uni21AD</string>
			<string>uni21AE</string>
			<string>uni21B4</string>
			<string>uni21B9</string>
			<string>uni21BC</string>
			<string>uni21BD</string>
			<string>uni21C0</string>
			<string>uni21C1</string>
			<string>uni21C4</string>
			<string>uni21C6</string>
			<string>uni21C7</string>
			<string>uni21C9</string>
			<string>uni21CB</string>
			<string>uni21CC</string>
			<string>uni21CD</string>
			<string>uni21CE</string>
			<string>uni21CF</string>
			<string>uni21D0</string>
			<string>uni21D2</string>
			<string>uni21D4</string>
			<string>uni21DA</string>
			<string>uni21DB</string>
			<string>uni21DC</string>
			<string>uni21DD</string>
			<string>uni21E0</string>
			<string>uni21E2</string>
			<string>uni21E4</string>
			<string>uni21E5</string>
			<string>uni21E6</string>
			<string>uni21E8</string>
			<string>uni21F0</string>
			<string>uni21F4</string>
			<string>uni21F6</string>
			<string>uni21F7</string>
			<string>uni21F8</string>
			<string>uni21F9</string>
			<string>uni21FA</string>
			<string>uni21FB</string>
			<string>uni21FC</string>
			<string>uni21FD</string>
			<string>uni21FE</string>
			<string>uni21FF</string>
			<string>uni27F4</string>
			<string>uni27F5</string>
			<string>uni27F6</string>
			<string>uni27F7</string>
			<string>uni27F8</string>
			<string>uni27F9</string>
			<string>uni27FA</string>
			<string>uni27FB</string>
			<string>uni27FC</string>
			<string>uni27FD</string>
			<string>uni27FE</string>
			<string>uni27FF</string>
			<string>uni2900</string>
			<string>uni2901</string>
			<string>uni2902</string>
			<string>uni2903</string>
			<string>uni2904</string>
			<string>uni2905</string>
			<string>uni2906</string>
			<string>uni2907</string>
			<string>uni290C</string>
			<string>uni290D</string>
			<string>uni290E</string>
			<string>uni290F</string>
			<string>uni2910</string>
			<string>uni2911</string>
			<string>uni2914</string>
			<string>uni2915</string>
			<string>uni2916</string>
			<string>uni2917</string>
			<string>uni2918</string>
			<string>uni2919</string>
			<string>uni291A</string>
			<string>uni291B</string>
			<string>uni291C</string>
			<string>uni291D</string>
			<string>uni291E</string>
			<string>uni291F</string>
			<string>uni2920</string>
			<string>uni2933</string>
			<string>uni2934</string>
			<string>uni2935</string>
			<string>uni2938</string>
			<string>uni2939</string>
			<string>uni2942</string>
			<string>uni2943</string>
			<string>uni2944</string>
			<string>uni2945</string>
			<string>uni2946</string>
			<string>uni2947</string>
			<string>uni2948</string>
			<string>uni294A</string>
			<string>uni294B</string>
			<string>uni294E</string>
			<string>uni2950</string>
			<string>uni2952</string>
			<string>uni2953</string>
			<string>uni2956</string>
			<string>uni2957</string>
			<string>uni295A</string>
			<string>uni295B</string>
			<string>uni295E</string>
			<string>uni295F</string>
			<string>uni2962</string>
			<string>uni2964</string>
			<string>uni2966</string>
			<string>uni2967</string>
			<string>uni2968</string>
			<string>uni2969</string>
			<string>uni296A</string>
			<string>uni296B</string>
			<string>uni296C</string>
			<string>uni296D</string>
			<string>uni2970</string>
			<string>uni2971</string>
			<string>uni2972</string>
			<string>uni2973</string>
			<string>uni2974</string>
			<string>uni2975</string>
			<string>uni2976</string>
			<string>uni2977</string>
			<string>uni2978</string>
			<string>uni2979</string>
			<string>uni297A</string>
			<string>uni297B</string>
		</array>
		<key>name</key>
		<string>Mathematical Arrows Horizontal</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>uni2191</string>
			<string>uni2193</string>
			<string>uni2195</string>
			<string>uni2196</string>
			<string>uni2197</string>
			<string>uni2198</string>
			<string>uni2199</string>
			<string>uni219F</string>
			<string>uni21A1</string>
			<string>uni21A5</string>
			<string>uni21A7</string>
			<string>uni21A8</string>
			<string>uni21AF</string>
			<string>uni21B0</string>
			<string>uni21B1</string>
			<string>uni21B2</string>
			<string>uni21B3</string>
			<string>uni21B5</string>
			<string>uni21B8</string>
			<string>uni21BE</string>
			<string>uni21BF</string>
			<string>uni21C2</string>
			<string>uni21C3</string>
			<string>uni21C5</string>
			<string>uni21C8</string>
			<string>uni21CA</string>
			<string>uni21D1</string>
			<string>uni21D3</string>
			<string>uni21D5</string>
			<string>uni21D6</string>
			<string>uni21D7</string>
			<string>uni21D8</string>
			<string>uni21D9</string>
			<string>uni21DE</string>
			<string>uni21DF</string>
			<string>uni21E1</string>
			<string>uni21E3</string>
			<string>uni21E7</string>
			<string>uni21E9</string>
			<string>uni21EA</string>
			<string>uni21EB</string>
			<string>uni21EC</string>
			<string>uni21ED</string>
			<string>uni21EE</string>
			<string>uni21EF</string>
			<string>uni21F1</string>
			<string>uni21F2</string>
			<string>uni21F3</string>
			<string>uni21F5</string>
			<string>uni27F0</string>
			<string>uni27F1</string>
			<string>uni2908</string>
			<string>uni2909</string>
			<string>uni290A</string>
			<string>uni290B</string>
			<string>uni2912</string>
			<string>uni2913</string>
			<string>uni2921</string>
			<string>uni2922</string>
			<string>uni2923</string>
			<string>uni2924</string>
			<string>uni2925</string>
			<string>uni2926</string>
			<string>uni2927</string>
			<string>uni2928</string>
			<string>uni2929</string>
			<string>uni292A</string>
			<string>uni292D</string>
			<string>uni292E</string>
			<string>uni292F</string>
			<string>uni2930</string>
			<string>uni2931</string>
			<string>uni2932</string>
			<string>uni2936</string>
			<string>uni2937</string>
			<string>uni2949</string>
			<string>uni294C</string>
			<string>uni294D</string>
			<string>uni294F</string>
			<string>uni2951</string>
			<string>uni2954</string>
			<string>uni2955</string>
			<string>uni2958</string>
			<string>uni2959</string>
			<string>uni295C</string>
			<string>uni295D</string>
			<string>uni2960</string>
			<string>uni2961</string>
			<string>uni2963</string>
			<string>uni2965</string>
			<string>uni296E</string>
			<string>uni296F</string>
		</array>
		<key>name</key>
		<string>Mathematical Arrows Vertical and Diagonal</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
		<string>ArrowHead</string>
		<string>rightArrow.rgt</string>
		<string>twoheadrightarrow.rgt</string>
		<string>harpoonrightup.rgt</string>
		<string>rightDoubleArrow.rgt</string>
		<string>_smart.Arrow.mid</string>
		<string>Arrow.mid</string>
		<string>DoubleArrow_short.mid</string>
		<string>rightArrow.lft</string>
		<string>rightTailArrow.lft</string>
		<string>rightFrombarArrow.lft</string>
		<string>rightDoubleArrow.lft</string>
		<string>rightFrombarDoubleArrow.lft</string>
		<string>_ArrowStroke</string>
		<string>_ArrowVerticalStroke</string>
		<string>_ArrowDoubleVerticalStroke</string>
		<string>_ArrowTab</string>
		</array>
		<key>name</key>
		<string>Mathematical Arrow Components Composed</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
		<string>ArrowStroke.mid</string>
		<string>ArrowVerticalStroke.mid</string>
		<string>ArrowDoubleVerticalStroke.mid</string>
		<string>Arrow.mid</string>
		<string>DoubleArrow.mid</string>
		<string>DoubleArrowStroke.mid</string>
		<string>DoubleArrowVerticalStroke.mid</string>
		<string>leftArrow.lft</string>
		<string>leftArrow.rgt</string>
		<string>rightTabArrow.rgt</string>
		<string>rightTabHarpoonUpArrow.rgt</string>
		<string>leftTailArrow.rgt</string>
		<string>leftFrombarArrow.rgt</string>
		<string>leftTabArrow.lft</string>
		<string>leftTabHarpoonDownArrow.lft</string>
		<string>leftTabHarpoonUpArrow.lft</string>
		<string>rightTabHarpoonDownArrow.rgt</string>
		<string>leftDoubleArrow.lft</string>
		<string>leftDoubleArrow.rgt</string>
		<string>leftFrombarDoubleArrow.rgt</string>
		<string>twoheadleftarrow.lft</string>
		</array>
		<key>name</key>
		<string>Mathematical Arrow Components Generated</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>integral</string>
			<string>dblIntegral</string>
			<string>tripleIntegral</string>
			<string>contourIntegral</string>
			<string>surfaceIntegral</string>
			<string>volumeIntegral</string>
			<string>clockwiseIntegral</string>
			<string>clockwiseContourIntegral</string>
			<string>anticlockwiseContourIntegral</string>
			<string>integraltp</string>
			<string>integralbt</string>
			<string>integralextension</string>
			<string>summationWithIntegral</string>
			<string>quadrupleIntegral</string>
			<string>finitePartIntegral</string>
			<string>doubleStrokeIntegral</string>
			<string>averageSlashIntegral</string>
			<string>circulationFunction</string>
			<string>anticlockwiseIntegral</string>
			<string>rectangularLineIntegral</string>
			<string>semicircularLineIntegral</string>
			<string>nopoleLineIntegral</string>
			<string>pointIntegral</string>
			<string>quaternionIntegral</string>
			<string>leftarrowHookIntegral</string>
			<string>timesIntegral</string>
			<string>intersectionIntegral</string>
			<string>integralWithUnion</string>
			<string>integralWithOverbar</string>
			<string>integralWithUnderbar</string>
		</array>
		<key>name</key>
		<string>Math Integrals</string>
	</dict>
</array>
</plist>
