<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>template</string>

  <key>name</key>
  <string>mathGlyphs</string>

  <key>parameters</key>
  <dict>
    <key>smartGlyph</key>
    <string>_smart.tripleIntegral</string>
    <key>exportGlyph</key>
    <string>tripleIntegral</string>
    <key>baseSmartGlyphs</key>
    <array>
      <string>_smart.integral</string>
      <string>_smart.integral</string>
      <string>_smart.integral</string>
    </array>
    <key>axis</key>
    <string>height</string>
    <key>lowValue</key>
    <real>0</real>
    <key>highValue</key>
    <real>100</real>
    <key>variantValues</key>
    <array>
      <integer>0</integer>
      <integer>5</integer>
      <integer>10</integer>
      <integer>15</integer>
      <integer>20</integer>
      <integer>25</integer>
      <integer>30</integer>
      <integer>35</integer>
      <integer>40</integer>
      <integer>45</integer>
      <integer>50</integer>
      <integer>55</integer>
      <integer>60</integer>
      <integer>65</integer>
      <integer>70</integer>
      <integer>75</integer>
      <integer>80</integer>
      <integer>85</integer>
      <integer>90</integer>
      <integer>95</integer>
      <integer>100</integer>
    </array>
    <key>color</key>
    <string>orange</string>
  </dict>

  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${smartGlyph}</string>
        <key>export</key>
        <false/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${smartGlyph}</string>
        <key>components</key>
        <string>${baseSmartGlyphs}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createHighLayers</string>
      <key>script</key>
      <string>create_high_layers_for_selected_glyph.py</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${smartGlyph}</string>
        <key>axis</key>
        <string>${axis}</string>
        <key>lowValue</key>
        <string>${lowValue}</string>
        <key>highValue</key>
        <string>${highValue}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setComponentAxisLowHigh</string>
      <key>script</key>
      <string>set_selected_component_axis_low_high.py</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${smartGlyph}</string>
        <key>axis</key>
        <string>${axis}</string>
        <key>lowValue</key>
        <string>${lowValue}</string>
        <key>highValue</key>
        <string>${highValue}</string>
        <key>componentFilter</key>
        <dict>
          <key>components</key>
          <string>${baseSmartGlyphs}</string>
          <key>allMatchingComponents</key>
          <true/>
        </dict>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>component</key>
        <string>${smartGlyph}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createSmartComponentVariants</string>
      <key>script</key>
      <string>create_smart_component_variants.py</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>${exportGlyph}</string>
        <key>values</key>
        <string>${variantValues}</string>
        <key>axis</key>
        <string>${axis}</string>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
