{
displayStrings = (
"⟺",
"/Arrow.mid.ShortShort/DoubleArrow.mid.ShortShort ⇍",
"/_smart.ArrowHead/leftArrow.lft ⬺",
"/rightTabArrow.rgt/leftTabArrow.lft/leftToBarOverRightToBarArrow.rgt/rightTabArrow.rgt ⇤⇥↹",
"/rightTabArrow.rgt/leftTabArrow.lft/leftToBarOverRightToBarArrow.rgt/rightTabArrow.rgt ⇤⇥↹",
"/_smart.ArrowHead.top/_smart.ArrowHead",
"/_smart.ArrowHead",
"/leftArrow.lft ←",
"←",
"/ArrowHead ⤑/leftArrowWithDottedStem.lft/rightDoubleArrow.rgt/_smart.Arrow.mid/_smart.Arrow.mid/rightArrow.rgt/rightTabArrow.rgt/twoheadrightarrow.rgt/DoubleArrowHead.rgt"
);
}
