{
displayStrings = (
"{",
"/_LC-xheight-left-instroke/_LC-monocameral-g-descender/yitalic-math.ss06",
"/_LC-j-descender-italic/_LC-xheight-left-instroke-italic 𝚥",
"/_UC-J-descender/_UC-J-upper 𝐽",
"/_LC-ascender-left-inserif-italic/_LC-baseline-stem/_part.k-legs 𝑘",
"/_LC-tail-descender/_LC-f-ascender/_LC-f-bar 𝑓",
"/_UC-bottom-stem-normal-wide-italic/_part.UC-F-upper-italic 𝐹",
"/_LC-ascender-left-inserif-italic/_LC-baseline-outstroke-italic 𝑙",
"/_LC-xheight-left-instroke/_LC-baseline-stem/_part.LC-n-shoulder-top-italic 𝑚",
"/_LC-descender-normal-wide/_LC-xheight-left-instroke 𝑝",
"𝒎𝑴"
);
}
