{
displayStrings = (
"↹",
"/Arrow.mid.3/Arrow.mid.3/Arrow.mid.3/_smart.Arrow.mid/Arrow.mid.3/Arrow.mid.3 ⤖",
"/_smart.Arrow.mid/Arrow.mid.1 ⇷",
"/_smart.ArrowHead.top/_smart.ArrowHead/ArrowHead",
"",
"/_ArrowStroke/_ArrowStroke/_smart.Arrow.mid/Arrow.mid.1 ↚",
"/_smart.tail/rightTailArrow.lft",
"/_smart.tail/rightTailArrow.lft",
"/rightArrow.lft",
"↛"
);
}
