{
displayStrings = (
"/arrow.tail/arrow.head →/.notdef/doublearrow.head",
"↠",
"/arrow.tail ↣",
"↑↓",
"/arrow.tail/arrow.doubletail →",
"↗",
"/temporarycomponent ↑←",
"/arrow.doubletail",
"/arrow.doubletail ↣",
"/arrow.doubletail ↣",
"/arrow.head/harpoonrightup.head →⇀",
"/DoubleArrow.head/DoubleArrow.tail/DoubleArrow.mid/DoubleArrow.head/DoubleArrow.mid/DoubleArrow.tail/DoubleArrow.mid ⇒",
"",
"",
"→/DoubleArrow.tail ⇒",
"/arrow.mid/arrow.tail →/arrow.tail/DoubleArrow.tail/DoubleArrow.mid/_arrowhead/arrow.head/DoubleArrow.head/DoubleArrow.mid ⇒"
);
}
