{
displayStrings = (
"/arrow.tail/arrow.head →/.notdef/doublearrow.head",
"↠",
"/arrow.tail ↣",
"↑↓",
"/arrow.tail/arrow.doubletail →",
"↗",
"/temporarycomponent ↑←",
"/arrow.doubletail",
"/arrow.doubletail ↣",
"/arrow.doubletail ↣",
"/arrow.mid/arrow.tail ↠",
"/_arrowhead/DoubleArrow.head/arrow.tail →/DoubleArrow.tail/DoubleArrow.mid/DoubleArrow.head ⇒",
"/arrow.mid/arrow.tail →/arrow.tail/DoubleArrow.mid/DoubleArrow.tail/DoubleArrow.mid/_arrowhead/DoubleArrow.head ⇒"
);
}
