{
displayStrings = (
"↔",
"/leftArrow.lft",
"←",
"/leftArrow.rgt",
"/rightDoubleArrow.lft",
"/leftDoubleArrow.rgt/leftDoubleArrow.lft",
"/rightDoubleArrow.rgt/leftDoubleArrow.lft",
"/leftDoubleArrow.rgt",
"⇐",
"⇒",
"/leftDoubleArrow.rgt/leftDoubleArrow.lft ⇐",
"",
"/rightArrow.lft",
"⇔",
"↠",
"⇀",
"/harpoonrightup.lft ↼",
"/twoheadleftarrow.lft/twoheadleftarrow",
"↼",
"↑",
"/leftTailArrow.rgt ↢",
"↑",
"↑",
"↓",
"↓",
"↕",
"↓",
"↕",
"↗",
"↙",
"↘",
"→↖",
"⇗",
"⇙",
"⇘",
"⇕",
"⇖",
"↖",
"↡",
"↟",
"⤡",
"⤢",
"⤜",
"/rightTailArrow.lft ↣",
"⤜",
"⤛",
"⤚",
"⇂",
"↾",
"↞",
"/rightFrombarArrow.lft ↦",
"/harpoonrightup.rgt/harpoonrightdown.rgt ⇁",
"/rightFrombarArrow.lft",
"⇃",
"↿",
"↽",
"↽",
"⤖",
"⤖",
"↦/rightFrombarArrow.lft"
);
}
