(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
B.ssty1,
C.ssty1,
D.ssty1,
E.ssty1,
F.ssty1,
G.ssty1,
H.ssty1,
I.ssty1,
J.ssty1,
K.ssty1,
L.ssty1,
N.ssty1,
O.ssty1,
P.ssty1,
Q.ssty1,
R.ssty1,
S.ssty1,
T.ssty1,
U.ssty1,
V.ssty1,
W.ssty1,
X.ssty1,
Y.ssty1,
Z.ssty1,
A.ssty2,
B.ssty2,
C.ssty2,
D.ssty2,
E.ssty2,
F.ssty2,
G.ssty2,
H.ssty2,
I.ssty2,
J.ssty2,
K.ssty2,
L.ssty2,
N.ssty2,
O.ssty2,
P.ssty2,
Q.ssty2,
R.ssty2,
S.ssty2,
T.ssty2,
U.ssty2,
V.ssty2,
W.ssty2,
X.ssty2,
Y.ssty2,
Z.ssty2,
a,
b,
c,
d,
e,
f,
g,
h,
i,
idotless,
j,
jdotless,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
a.ssty1,
b.ssty1,
c.ssty1,
d.ssty1,
e.ssty1,
f.ssty1,
g.ssty1,
h.ssty1,
i.ssty1,
idotless.ssty1,
j.ssty1,
jdotless.ssty1,
k.ssty1,
l.ssty1,
m.ssty1,
n.ssty1,
o.ssty1,
p.ssty1,
q.ssty1,
r.ssty1,
s.ssty1,
t.ssty1,
u.ssty1,
v.ssty1,
w.ssty1,
x.ssty1,
y.ssty1,
z.ssty1,
a.ssty2,
b.ssty2,
c.ssty2,
d.ssty2,
e.ssty2,
f.ssty2,
g.ssty2,
h.ssty2,
i.ssty2,
idotless.ssty2,
j.ssty2,
jdotless.ssty2,
k.ssty2,
l.ssty2,
m.ssty2,
n.ssty2,
o.ssty2,
p.ssty2,
q.ssty2,
r.ssty2,
s.ssty2,
t.ssty2,
u.ssty2,
v.ssty2,
w.ssty2,
x.ssty2,
y.ssty2,
z.ssty2,
g.ss05,
g.ss05.ssty1,
g.ss05.ssty2,
florin,
florin.tf,
rbelowcomb,
ogonek_e,
"brevecomb-cy",
"brevecomb-cy.case",
"_Ereversed-corpus-cy",
"_LC-e-middlestroke-cy",
"_LC-hook-descender-cy",
"_LC_serif-cy",
"_UC-Dzhe-tail-cy",
"_UC-Ii-cy",
"_UC-Ustroke-cy",
"_UC-bottom-stem-narrow-descender-cy",
"_UC-descender-cy",
"_e-corpus-cy",
"_ereversed-corpus-cy",
"_ha_descender-cy",
"_LC-u-cy.loclBGR-stem",
"_UC-Zhe-cy.loclBGR-wings",
"_UC-Ii-cy.loclBGR",
Delta,
Omega,
Delta.ssty1,
Omega.ssty1,
Delta.ssty2,
Omega.ssty2,
lambda,
mu,
pi,
tau,
lambda.ssty1,
mu.ssty1,
pi.ssty1,
tau.ssty1,
lambda.ssty2,
mu.ssty2,
pi.ssty2,
tau.ssty2,
"_LC-r-arm",
"Abold-math",
"Bbold-math",
"Cbold-math",
"Dbold-math",
"Ebold-math",
"Fbold-math",
"Gbold-math",
"Hbold-math",
"Ibold-math",
"Jbold-math",
"Kbold-math",
"Lbold-math",
"Mbold-math",
"Nbold-math",
"Obold-math",
"Pbold-math",
"Qbold-math",
"Rbold-math",
"Sbold-math",
"Tbold-math",
"Ubold-math",
"Vbold-math",
"Wbold-math",
"Xbold-math",
"Ybold-math",
"Zbold-math",
"Aitalic-math",
"Bitalic-math",
"Citalic-math",
"Ditalic-math",
"Eitalic-math",
"Fitalic-math",
"Gitalic-math",
"Hitalic-math",
"Iitalic-math",
"Jitalic-math",
"Kitalic-math",
"Litalic-math",
"Mitalic-math",
"Nitalic-math",
"Oitalic-math",
"Pitalic-math",
"Qitalic-math",
"Ritalic-math",
"Sitalic-math",
"Titalic-math",
"Uitalic-math",
"Vitalic-math",
"Witalic-math",
"Xitalic-math",
"Yitalic-math",
"Zitalic-math",
"Abolditalic-math",
"Bbolditalic-math",
"Cbolditalic-math",
"Dbolditalic-math",
"Ebolditalic-math",
"Fbolditalic-math",
"Gbolditalic-math",
"Hbolditalic-math",
"Ibolditalic-math",
"Jbolditalic-math",
"Kbolditalic-math",
"Lbolditalic-math",
"Mbolditalic-math",
"Nbolditalic-math",
"Obolditalic-math",
"Pbolditalic-math",
"Qbolditalic-math",
"Rbolditalic-math",
"Sbolditalic-math",
"Tbolditalic-math",
"Ubolditalic-math",
"Vbolditalic-math",
"Wbolditalic-math",
"Xbolditalic-math",
"Ybolditalic-math",
"Zbolditalic-math",
"Deltabold-math",
"Omegabold-math",
"Deltaitalic-math",
"Omegaitalic-math",
"Deltabolditalic-math",
"Omegabolditalic-math",
"Eitalic-math.ss02",
"Ebolditalic-math.ss02",
"Titalic-math.ss07",
"Tbolditalic-math.ss07",
"Zitalic-math.ss12",
"Zbolditalic-math.ss12",
"Xitalic-math.ss13",
"Xbolditalic-math.ss13",
"Abold-math.ssty1",
"Bbold-math.ssty1",
"Cbold-math.ssty1",
"Dbold-math.ssty1",
"Ebold-math.ssty1",
"Fbold-math.ssty1",
"Gbold-math.ssty1",
"Hbold-math.ssty1",
"Ibold-math.ssty1",
"Jbold-math.ssty1",
"Kbold-math.ssty1",
"Lbold-math.ssty1",
"Mbold-math.ssty1",
"Nbold-math.ssty1",
"Obold-math.ssty1",
"Pbold-math.ssty1",
"Qbold-math.ssty1",
"Rbold-math.ssty1",
"Sbold-math.ssty1",
"Tbold-math.ssty1",
"Ubold-math.ssty1",
"Vbold-math.ssty1",
"Wbold-math.ssty1",
"Xbold-math.ssty1",
"Ybold-math.ssty1",
"Zbold-math.ssty1",
"Aitalic-math.ssty1",
"Bitalic-math.ssty1",
"Citalic-math.ssty1",
"Ditalic-math.ssty1",
"Eitalic-math.ssty1",
"Fitalic-math.ssty1",
"Gitalic-math.ssty1",
"Hitalic-math.ssty1",
"Iitalic-math.ssty1",
"Jitalic-math.ssty1",
"Kitalic-math.ssty1",
"Litalic-math.ssty1",
"Mitalic-math.ssty1",
"Nitalic-math.ssty1",
"Oitalic-math.ssty1",
"Pitalic-math.ssty1",
"Qitalic-math.ssty1",
"Ritalic-math.ssty1",
"Sitalic-math.ssty1",
"Titalic-math.ssty1",
"Uitalic-math.ssty1",
"Vitalic-math.ssty1",
"Witalic-math.ssty1",
"Xitalic-math.ssty1",
"Yitalic-math.ssty1",
"Zitalic-math.ssty1",
"Abolditalic-math.ssty1",
"Bbolditalic-math.ssty1",
"Cbolditalic-math.ssty1",
"Dbolditalic-math.ssty1",
"Ebolditalic-math.ssty1",
"Fbolditalic-math.ssty1",
"Gbolditalic-math.ssty1",
"Hbolditalic-math.ssty1",
"Ibolditalic-math.ssty1",
"Jbolditalic-math.ssty1",
"Kbolditalic-math.ssty1",
"Lbolditalic-math.ssty1",
"Mbolditalic-math.ssty1",
"Nbolditalic-math.ssty1",
"Obolditalic-math.ssty1",
"Pbolditalic-math.ssty1",
"Qbolditalic-math.ssty1",
"Rbolditalic-math.ssty1",
"Sbolditalic-math.ssty1",
"Tbolditalic-math.ssty1",
"Ubolditalic-math.ssty1",
"Vbolditalic-math.ssty1",
"Wbolditalic-math.ssty1",
"Xbolditalic-math.ssty1",
"Ybolditalic-math.ssty1",
"Zbolditalic-math.ssty1",
"Deltabold-math.ssty1",
"Omegabold-math.ssty1",
"Deltaitalic-math.ssty1",
"Omegaitalic-math.ssty1",
"Deltabolditalic-math.ssty1",
"Omegabolditalic-math.ssty1",
"Abold-math.ssty2",
"Bbold-math.ssty2",
"Cbold-math.ssty2",
"Dbold-math.ssty2",
"Ebold-math.ssty2",
"Fbold-math.ssty2",
"Gbold-math.ssty2",
"Hbold-math.ssty2",
"Ibold-math.ssty2",
"Jbold-math.ssty2",
"Kbold-math.ssty2",
"Lbold-math.ssty2",
"Mbold-math.ssty2",
"Nbold-math.ssty2",
"Obold-math.ssty2",
"Pbold-math.ssty2",
"Qbold-math.ssty2",
"Rbold-math.ssty2",
"Sbold-math.ssty2",
"Tbold-math.ssty2",
"Ubold-math.ssty2",
"Vbold-math.ssty2",
"Wbold-math.ssty2",
"Xbold-math.ssty2",
"Ybold-math.ssty2",
"Zbold-math.ssty2",
"Aitalic-math.ssty2",
"Bitalic-math.ssty2",
"Citalic-math.ssty2",
"Ditalic-math.ssty2",
"Eitalic-math.ssty2",
"Fitalic-math.ssty2",
"Gitalic-math.ssty2",
"Hitalic-math.ssty2",
"Iitalic-math.ssty2",
"Jitalic-math.ssty2",
"Kitalic-math.ssty2",
"Litalic-math.ssty2",
"Mitalic-math.ssty2",
"Nitalic-math.ssty2",
"Oitalic-math.ssty2",
"Pitalic-math.ssty2",
"Qitalic-math.ssty2",
"Ritalic-math.ssty2",
"Sitalic-math.ssty2",
"Titalic-math.ssty2",
"Uitalic-math.ssty2",
"Vitalic-math.ssty2",
"Witalic-math.ssty2",
"Xitalic-math.ssty2",
"Yitalic-math.ssty2",
"Zitalic-math.ssty2",
"Abolditalic-math.ssty2",
"Bbolditalic-math.ssty2",
"Cbolditalic-math.ssty2",
"Dbolditalic-math.ssty2",
"Ebolditalic-math.ssty2",
"Fbolditalic-math.ssty2",
"Gbolditalic-math.ssty2",
"Hbolditalic-math.ssty2",
"Ibolditalic-math.ssty2",
"Jbolditalic-math.ssty2",
"Kbolditalic-math.ssty2",
"Lbolditalic-math.ssty2",
"Mbolditalic-math.ssty2",
"Nbolditalic-math.ssty2",
"Obolditalic-math.ssty2",
"Pbolditalic-math.ssty2",
"Qbolditalic-math.ssty2",
"Rbolditalic-math.ssty2",
"Sbolditalic-math.ssty2",
"Tbolditalic-math.ssty2",
"Ubolditalic-math.ssty2",
"Vbolditalic-math.ssty2",
"Wbolditalic-math.ssty2",
"Xbolditalic-math.ssty2",
"Ybolditalic-math.ssty2",
"Zbolditalic-math.ssty2",
"Deltabold-math.ssty2",
"Omegabold-math.ssty2",
"Deltaitalic-math.ssty2",
"Omegaitalic-math.ssty2",
"Deltabolditalic-math.ssty2",
"Omegabolditalic-math.ssty2",
"Jbold-math.cv01.ssty1",
"Eitalic-math.ss02.ssty1",
"Ebolditalic-math.ss02.ssty1",
"Titalic-math.ss07.ssty1",
"Tbolditalic-math.ss07.ssty1",
"Zitalic-math.ss12.ssty1",
"Zbolditalic-math.ss12.ssty1",
"Xitalic-math.ss13.ssty1",
"Xbolditalic-math.ss13.ssty1",
"Jbold-math.cv01.ssty2",
"Eitalic-math.ss02.ssty2",
"Ebolditalic-math.ss02.ssty2",
"Titalic-math.ss07.ssty2",
"Tbolditalic-math.ss07.ssty2",
"Zitalic-math.ss12.ssty2",
"Zbolditalic-math.ss12.ssty2",
"Xitalic-math.ss13.ssty2",
"Xbolditalic-math.ss13.ssty2",
"Jbold-math.cv01",
"abold-math",
"bbold-math",
"cbold-math",
"dbold-math",
"ebold-math",
"fbold-math",
"gbold-math",
"hbold-math",
"ibold-math",
"jbold-math",
"kbold-math",
"lbold-math",
"mbold-math",
"nbold-math",
"obold-math",
"pbold-math",
"qbold-math",
"rbold-math",
"sbold-math",
"tbold-math",
"ubold-math",
"vbold-math",
"wbold-math",
"xbold-math",
"ybold-math",
"zbold-math",
"aitalic-math",
"bitalic-math",
"citalic-math",
"ditalic-math",
"eitalic-math",
"fitalic-math",
"gitalic-math",
"iitalic-math",
"jitalic-math",
"kitalic-math",
"litalic-math",
"mitalic-math",
"nitalic-math",
"oitalic-math",
"pitalic-math",
"qitalic-math",
"ritalic-math",
"sitalic-math",
"titalic-math",
"uitalic-math",
"vitalic-math",
"witalic-math",
"xitalic-math",
"yitalic-math",
"zitalic-math",
"abolditalic-math",
"bbolditalic-math",
"cbolditalic-math",
"dbolditalic-math",
"ebolditalic-math",
"fbolditalic-math",
"gbolditalic-math",
"hbolditalic-math",
"ibolditalic-math",
"jbolditalic-math",
"kbolditalic-math",
"lbolditalic-math",
"mbolditalic-math",
"nbolditalic-math",
"obolditalic-math",
"pbolditalic-math",
"qbolditalic-math",
"rbolditalic-math",
"sbolditalic-math",
"tbolditalic-math",
"ubolditalic-math",
"vbolditalic-math",
"wbolditalic-math",
"xbolditalic-math",
"ybolditalic-math",
"zbolditalic-math",
"idotlessitalic-math",
"jdotlessitalic-math",
"lambdabold-math",
"mubold-math",
"pibold-math",
"taubold-math",
"lambdaitalic-math",
"muitalic-math",
"piitalic-math",
"lambdabolditalic-math",
"mubolditalic-math",
"pibolditalic-math",
"pitalic-math.ss01",
"pbolditalic-math.ss01",
"gitalic-math.ss05",
"gbolditalic-math.ss05",
"zitalic-math.ss12",
"zbolditalic-math.ss12",
"xitalic-math.ss13",
"xbolditalic-math.ss13",
"abold-math.ssty1",
"bbold-math.ssty1",
"cbold-math.ssty1",
"dbold-math.ssty1",
"ebold-math.ssty1",
"fbold-math.ssty1",
"gbold-math.ssty1",
"hbold-math.ssty1",
"ibold-math.ssty1",
"jbold-math.ssty1",
"kbold-math.ssty1",
"lbold-math.ssty1",
"mbold-math.ssty1",
"nbold-math.ssty1",
"obold-math.ssty1",
"pbold-math.ssty1",
"qbold-math.ssty1",
"rbold-math.ssty1",
"sbold-math.ssty1",
"tbold-math.ssty1",
"ubold-math.ssty1",
"vbold-math.ssty1",
"wbold-math.ssty1",
"xbold-math.ssty1",
"ybold-math.ssty1",
"zbold-math.ssty1",
"aitalic-math.ssty1",
"bitalic-math.ssty1",
"citalic-math.ssty1",
"ditalic-math.ssty1",
"eitalic-math.ssty1",
"fitalic-math.ssty1",
"gitalic-math.ssty1",
"iitalic-math.ssty1",
"jitalic-math.ssty1",
"kitalic-math.ssty1",
"litalic-math.ssty1",
"mitalic-math.ssty1",
"nitalic-math.ssty1",
"oitalic-math.ssty1",
"pitalic-math.ssty1",
"qitalic-math.ssty1",
"ritalic-math.ssty1",
"sitalic-math.ssty1",
"titalic-math.ssty1",
"uitalic-math.ssty1",
"vitalic-math.ssty1",
"witalic-math.ssty1",
"xitalic-math.ssty1",
"yitalic-math.ssty1",
"zitalic-math.ssty1",
"abolditalic-math.ssty1",
"bbolditalic-math.ssty1",
"cbolditalic-math.ssty1",
"dbolditalic-math.ssty1",
"ebolditalic-math.ssty1",
"fbolditalic-math.ssty1",
"gbolditalic-math.ssty1",
"hbolditalic-math.ssty1",
"ibolditalic-math.ssty1",
"jbolditalic-math.ssty1",
"kbolditalic-math.ssty1",
"lbolditalic-math.ssty1",
"mbolditalic-math.ssty1",
"nbolditalic-math.ssty1",
"obolditalic-math.ssty1",
"pbolditalic-math.ssty1",
"qbolditalic-math.ssty1",
"rbolditalic-math.ssty1",
"sbolditalic-math.ssty1",
"tbolditalic-math.ssty1",
"ubolditalic-math.ssty1",
"vbolditalic-math.ssty1",
"wbolditalic-math.ssty1",
"xbolditalic-math.ssty1",
"ybolditalic-math.ssty1",
"zbolditalic-math.ssty1",
"idotlessitalic-math.ssty1",
"jdotlessitalic-math.ssty1",
"lambdabold-math.ssty1",
"mubold-math.ssty1",
"pibold-math.ssty1",
"taubold-math.ssty1",
"lambdaitalic-math.ssty1",
"muitalic-math.ssty1",
"piitalic-math.ssty1",
"lambdabolditalic-math.ssty1",
"mubolditalic-math.ssty1",
"pibolditalic-math.ssty1",
"taubolditalic-math.ssty1",
"abold-math.ssty2",
"bbold-math.ssty2",
"cbold-math.ssty2",
"dbold-math.ssty2",
"ebold-math.ssty2",
"fbold-math.ssty2",
"gbold-math.ssty2",
"hbold-math.ssty2",
"ibold-math.ssty2",
"jbold-math.ssty2",
"kbold-math.ssty2",
"lbold-math.ssty2",
"mbold-math.ssty2",
"nbold-math.ssty2",
"obold-math.ssty2",
"pbold-math.ssty2",
"qbold-math.ssty2",
"rbold-math.ssty2",
"sbold-math.ssty2",
"tbold-math.ssty2",
"ubold-math.ssty2",
"vbold-math.ssty2",
"wbold-math.ssty2",
"xbold-math.ssty2",
"ybold-math.ssty2",
"zbold-math.ssty2",
"aitalic-math.ssty2",
"bitalic-math.ssty2",
"citalic-math.ssty2",
"ditalic-math.ssty2",
"eitalic-math.ssty2",
"fitalic-math.ssty2",
"gitalic-math.ssty2",
"iitalic-math.ssty2",
"jitalic-math.ssty2",
"kitalic-math.ssty2",
"litalic-math.ssty2",
"mitalic-math.ssty2",
"nitalic-math.ssty2",
"oitalic-math.ssty2",
"pitalic-math.ssty2",
"qitalic-math.ssty2",
"ritalic-math.ssty2",
"sitalic-math.ssty2",
"titalic-math.ssty2",
"uitalic-math.ssty2",
"vitalic-math.ssty2",
"witalic-math.ssty2",
"xitalic-math.ssty2",
"yitalic-math.ssty2",
"zitalic-math.ssty2",
"abolditalic-math.ssty2",
"bbolditalic-math.ssty2",
"cbolditalic-math.ssty2",
"dbolditalic-math.ssty2",
"ebolditalic-math.ssty2",
"fbolditalic-math.ssty2",
"gbolditalic-math.ssty2",
"hbolditalic-math.ssty2",
"ibolditalic-math.ssty2",
"jbolditalic-math.ssty2",
"kbolditalic-math.ssty2",
"lbolditalic-math.ssty2",
"mbolditalic-math.ssty2",
"nbolditalic-math.ssty2",
"obolditalic-math.ssty2",
"pbolditalic-math.ssty2",
"qbolditalic-math.ssty2",
"rbolditalic-math.ssty2",
"sbolditalic-math.ssty2",
"tbolditalic-math.ssty2",
"ubolditalic-math.ssty2",
"vbolditalic-math.ssty2",
"wbolditalic-math.ssty2",
"xbolditalic-math.ssty2",
"ybolditalic-math.ssty2",
"zbolditalic-math.ssty2",
"idotlessitalic-math.ssty2",
"jdotlessitalic-math.ssty2",
"lambdabold-math.ssty2",
"mubold-math.ssty2",
"pibold-math.ssty2",
"taubold-math.ssty2",
"lambdaitalic-math.ssty2",
"muitalic-math.ssty2",
"piitalic-math.ssty2",
"lambdabolditalic-math.ssty2",
"mubolditalic-math.ssty2",
"pibolditalic-math.ssty2",
"taubolditalic-math.ssty2",
"jbold-math.cv01.ssty1",
"pitalic-math.ss01.ssty1",
"pbolditalic-math.ss01.ssty1",
"yitalic-math.ss06.ssty1",
"ybolditalic-math.ss06.ssty1",
"zitalic-math.ss12.ssty1",
"zbolditalic-math.ss12.ssty1",
"xitalic-math.ss13.ssty1",
"xbolditalic-math.ss13.ssty1",
"jbold-math.cv01.ssty2",
"pitalic-math.ss01.ssty2",
"pbolditalic-math.ss01.ssty2",
"yitalic-math.ss06.ssty2",
"ybolditalic-math.ss06.ssty2",
"zitalic-math.ss12.ssty2",
"zbolditalic-math.ss12.ssty2",
"xitalic-math.ss13.ssty2",
"xbolditalic-math.ss13.ssty2",
"taubolditalic-math",
"jbold-math.cv01",
"gbold-math.ss05",
"yitalic-math.ss06",
"ybolditalic-math.ss06",
"gbold-math.ss05.ssty1",
"gitalic-math.ss05.ssty1",
"gbolditalic-math.ss05.ssty1",
"gbold-math.ss05.ssty2",
"gitalic-math.ss05.ssty2",
"gbolditalic-math.ss05.ssty2",
"zerobold-math",
"onebold-math",
"twobold-math",
"threebold-math",
"fourbold-math",
"fivebold-math",
"sixbold-math",
"sevenbold-math",
"eightbold-math",
"ninebold-math",
"zerobold-math.zero",
"partialdiffitalic-math",
"_B-stroke",
"_H-bar",
"_I-stroke",
"_K-stroke",
"_L-bar",
"_L-belt",
"_L-double-bar",
"_LC-a-corpus",
"_LC-alpha-latin-outstroke",
"_LC-ascender-left-bar-top",
"_LC-ascender-left-inserif",
"_LC-ascender-left-inserif-italic",
"_LC-ascender-right-inserif",
"_LC-ascender-right-side-hook",
"_LC-ascender-serifless",
"_LC-baseline-left-instroke",
"_LC-baseline-narrow-normal",
"_LC-baseline-normal-narrow",
"_LC-baseline-outstroke",
"_LC-baseline-outstroke-circle",
"_LC-baseline-outstroke-italic",
"_LC-baseline-outstroke-tail",
"_LC-baseline-right-tail",
"_LC-baseline-stem",
"_LC-baseline-tail",
"_LC-cv01-descender",
"_LC-de-cy-descender",
"_LC-de-cy-upper",
"_LC-descender-cy-inner-serif",
"_LC-descender-cy-outer-serif",
"_LC-descender-cy-serifless",
"_LC-descender-left-hook",
"_LC-descender-normal-wide",
"_LC-descender-right-hook",
"_LC-descender-wide-normal",
"_LC-dje-cy-down-stroke",
"_LC-e-stroke",
"_LC-el-cy-upper",
"_LC-en-cy-bar",
"_LC-en-cy_upper",
"_LC-exclam-stroke",
"_LC-exclamdown-stroke",
"_LC-f-ascender",
"_LC-f-bar",
"_LC-f-stem",
"_LC-florin-bar",
"_LC-gheupturn-cy-upper",
"_LC-hardsign-cy-upper",
"_LC-i-stroke",
"_LC-idotless-optical",
"_LC-ii-cy-bar",
"_LC-imod-stroke",
"_LC-iota-latin-outstroke",
"_LC-j-descender",
"_LC-j-descender-crossed-tail",
"_LC-j-descender-italic",
"_LC-k-legs",
"_LC-k-legs-lowered",
"_LC-l-double-bar",
"_LC-lambda-latin-stroke",
"_LC-ligature-dotlessi",
"_LC-ligature-udieresis",
"_LC-m-shoulders",
"_LC-middletilde",
"_LC-monocameral-g-descender",
"_LC-open-g-descender",
"_LC-p-stroke-overlay",
"_LC-period-xheight",
"_LC-question-upper",
"_LC-questiondown-lower",
"_LC-r-arm-italic",
"_LC-right-instroke",
"_LC-s-stroke",
"_LC-sha-cy-base",
"_LC-softsign-cy-loclBGR-bowl",
"_LC-stem-xheight-upper",
"_LC-t-ascender",
"_LC-t-bar",
"_LC-t-bar-italic",
"_LC-t-liga-ascender",
"_LC-t-outstroke",
"_LC-t-stroke",
"_LC-t-top",
"_LC-tail-descender",
"_LC-tbar-overlay",
"_LC-te-cy-upper",
"_LC-u-bowl",
"_LC-u-stroke",
"_LC-u-stroke-overlay",
"_LC-umod-stroke-overlay",
"_LC-xheight-left-instroke",
"_LC-xheight-left-instroke-italic",
"_LC-xheight-normal-normal",
"_LC-xheight-right-instroke",
"_LC-xheight-stem",
"_LC-y-stroke",
"_LC-yat-cy-upper",
"_LC-yeru-cy-stem",
"_LC-z-stroke-body",
"_LC-z-stroke-overlay",
"_LC.gamma-latin-descender",
"_P-stroke",
"_R-stroke",
"_U-bar",
"_UC-A-stroke",
"_UC-C-stroke",
"_UC-Che-cy-curve",
"_UC-Che-cy-stem",
"_UC-De-cy-descender",
"_UC-De-cy-upper",
"_UC-Dje-cy-curve",
"_UC-Dzhe-cy_lower",
"_UC-E-cy-middlestroke",
"_UC-E-stroke",
"_UC-El-cy-upper",
"_UC-Eng-arch",
"_UC-Eng-hook",
"_UC-Gamma-latin-descender",
"_UC-Gheupturn-cy-upper",
"_UC-Gsingle-descender",
"_UC-H-upper",
"_UC-H-upper-italic",
"_UC-Hardsign-cy-stem",
"_UC-Iota-latin-outstroke",
"_UC-Iota-upper",
"_UC-J-crossed-tail",
"_UC-J-descender",
"_UC-J-descender-stump",
"_UC-J-upper",
"_UC-K-wing",
"_UC-K-wing-italic",
"_UC-Ka-cy-wings",
"_UC-Kadescender-cy-wing",
"_UC-L-lower",
"_UC-N-hook",
"_UC-N-upper",
"_UC-N-upper-italic",
"_UC-P-upper",
"_UC-Pe-cy-upper",
"_UC-Phook-upper",
"_UC-Q-tail",
"_UC-R-upper",
"_UC-R-upper-italic",
"_UC-S-stroke",
"_UC-Sha-cy_base",
"_UC-Softsign-cy-stem",
"_UC-T-hook-top-stroke",
"_UC-T-ligature-bar",
"_UC-T-stroke",
"_UC-T-top-stroke-swash",
"_UC-T-upper",
"_UC-T-upper-stroke",
"_UC-Thorn-body",
"_UC-Tse-Dzhe-cy_upper",
"_UC-Tse-cy_lower",
"_UC-U-bottom",
"_UC-U-left-serif-wide",
"_UC-U-right-horn",
"_UC-U-right-serif",
"_UC-U-stroke",
"_UC-X-instroke",
"_UC-X-outstrokes",
"_UC-Ya-cy-upper",
"_UC-Yat-cy-bar",
"_UC-Z-stroke-body",
"_UC-Z-stroke-overlay",
"_UC-Zhe-cy-wings",
"_UC-Zhedescender-cy-wings",
"_UC-alpha-latin-serif",
"_UC-baseline-outstroke-circle",
"_UC-baseline-right-normal",
"_UC-bottom-stem-descender",
"_UC-bottom-stem-narrow-hook",
"_UC-bottom-stem-narrow-normal",
"_UC-bottom-stem-narrow-normal-italic",
"_UC-bottom-stem-normal-narrow",
"_UC-bottom-stem-normal-narrow-italic",
"_UC-bottom-stem-normal-normal",
"_UC-bottom-stem-normal-wide",
"_UC-bottom-stem-normal-wide-italic",
"_UC-bottom-stem-wide-normal",
"_UC-bottom-thin_stem-normal-wide",
"_UC-bottom-thin_stem-normal-wide-italic",
"_UC-exclam-stroke",
"_UC-lambda-latin-stroke",
"_UC-lower-left-hook",
"_UC-lower-right-hook",
"_UC-lower-right-tail",
"_UC-middletilde",
"_UC-question-upper",
"_UC-top-hook-instroke",
"_UC-top-stem-normal-narrow",
"_UC-top-stem-normal-narrow-italic",
"_UC-top-stem-normal-normal",
"_UC-uniA7AE-stroke",
"_UC-upper-stem-instroke",
"_UC-upper-stem-wide-normal",
"_UC_cy-baseline-right-serif",
"_Y-stroke",
"_alveolar-double-slash",
"_baht-bar",
"_bilabial-click-dot",
"_bilabialclick-body",
"_c-hook",
"_cedi-bar",
"_cent-bar",
"_dollar-bar",
"_eng-1st-stroke",
"_g-stroke-overlay",
"_guarani-bar",
"_j-stroke",
"_kip-bar",
"_l-belt",
"_lc-o-horn",
"_lc-u-horn",
"_longs-bar",
"_n-1st-stroke-hook",
"_n-shoulder-bottom-wide-inner-serif",
"_naira-bar",
"_p-liga-descender",
"_peseta-bar",
"_s-liga-connecting-stroke",
"_t-body",
"_t-upper-body",
"_tse-dzhe-cy_base",
"_won-bar",
"_zhe-cy-stem",
"_UC-De-cy-upper.loclBGR",
"_yu-cy-iota.loclBGR",
"_zhe-cy-wings.loclBGR",
QdoubleStruck,
QdoubleStruck.ssty1,
QdoubleStruck.ssty2,
planckconstant,
planckconstant.ssty1,
planckconstant.ssty2,
leftArrow.rgt,
harpoonrightdown.rgt,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tf.zero,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
thinspace,
hairspace,
zerowidthspace,
zeroWidthNoBreakSpace,
narrownbspace,
.notdef,
CR,
NULL,
figurespace.tf,
space.tf.ss14,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dblverticalbar,
numbersign,
slash,
dblverticalbar.s01,
dblverticalbar.s02,
dblverticalbar.s03,
dblverticalbar.s04,
dblverticalbar.s05,
dblverticalbar.s06,
dblverticalbar.s07,
dblverticalbar.s08,
dblverticalbar.s09,
dblverticalbar.s10,
backslash,
hyphen,
softhyphen,
endash,
emdash,
horizontalbar,
hyphentwo,
underscore,
hyphen.case,
endash.case,
emdash.case,
horizontalbar.case,
hyphentwo.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
leftCeiling,
leftFloor,
rightCeiling,
rightFloor,
parenleft.s01,
parenright.s01,
braceleft.s01,
braceright.s01,
bracketleft.s01,
bracketright.s01,
leftCeiling.s01,
leftFloor.s01,
rightCeiling.s01,
rightFloor.s01,
parenleft.s02,
parenright.s02,
braceleft.s02,
braceright.s02,
bracketleft.s02,
bracketright.s02,
leftCeiling.s02,
leftFloor.s02,
rightCeiling.s02,
rightFloor.s02,
parenleft.s03,
parenright.s03,
braceleft.s03,
braceright.s03,
bracketleft.s03,
bracketright.s03,
leftCeiling.s03,
leftFloor.s03,
rightCeiling.s03,
rightFloor.s03,
parenleft.s04,
parenright.s04,
braceleft.s04,
braceright.s04,
bracketleft.s04,
bracketright.s04,
leftCeiling.s04,
leftFloor.s04,
rightCeiling.s04,
rightFloor.s04,
parenleft.s05,
parenright.s05,
braceleft.s05,
braceright.s05,
bracketleft.s05,
bracketright.s05,
leftCeiling.s05,
leftFloor.s05,
rightCeiling.s05,
rightFloor.s05,
parenleft.s06,
parenright.s06,
braceleft.s06,
braceright.s06,
bracketleft.s06,
bracketright.s06,
leftCeiling.s06,
leftFloor.s06,
rightCeiling.s06,
rightFloor.s06,
parenleft.s07,
parenright.s07,
braceleft.s07,
braceright.s07,
bracketleft.s07,
bracketright.s07,
leftCeiling.s07,
leftFloor.s07,
rightCeiling.s07,
rightFloor.s07,
parenleft.s08,
parenright.s08,
braceleft.s08,
braceright.s08,
bracketleft.s08,
bracketright.s08,
leftCeiling.s08,
leftFloor.s08,
rightCeiling.s08,
rightFloor.s08,
parenleft.s09,
parenright.s09,
braceleft.s09,
braceright.s09,
bracketleft.s09,
bracketright.s09,
leftCeiling.s09,
leftFloor.s09,
rightCeiling.s09,
rightFloor.s09,
parenleft.s10,
parenright.s10,
braceleft.s10,
braceright.s10,
bracketleft.s10,
bracketright.s10,
leftCeiling.s10,
leftFloor.s10,
rightCeiling.s10,
rightFloor.s10,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
tripleprime,
quotedbl,
quotesingle,
quoteleft,
quoteright,
colonmod,
doubleapostrophemod,
minusmod,
shortequalmod,
minute,
second,
bar,
kelvin,
bar.s01,
bar.s02,
bar.s03,
bar.s04,
bar.s05,
bar.s06,
bar.s07,
bar.s08,
bar.s09,
bar.s10,
angstrom,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
careof,
degree,
brokenbar,
dagger,
daggerdbl,
numero,
pagedown,
pageup,
at.case,
ampersand.case,
a.circled,
baht,
cedi,
cent,
cruzeiro,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
liraTurkish,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sheqel,
sterling,
tenge,
won,
yen,
currency.lf,
sterling.ss11,
baht.tf,
cedi.tf,
cent.tf,
cruzeiro.tf,
currency.tf,
dollar.tf,
dong.tf,
euro.tf,
franc.tf,
guarani.tf,
hryvnia.tf,
kip.tf,
lari.tf,
liraTurkish.tf,
naira.tf,
peseta.tf,
peso.tf,
ruble.tf,
rupeeIndian.tf,
sheqel.tf,
sterling.tf,
tenge.tf,
won.tf,
yen.tf,
currency.tosf,
approaches,
approxequalorimage,
commercialMinusSign,
contourIntegral,
coproduct,
dblIntegral,
dotmath,
dotminus,
dotplus,
equalsSignWithDotBelow,
equalsSignWithTwoDotsAboveAndTwoDotsBelow,
equalscolon,
geometricallyequal,
imageorapproximatelyequal,
leftArrowTail,
leftArrowWithTailWithDoubleVerticalStroke,
leftArrowWithTailWithVerticalStroke,
leftBarbDownRightBarbDownHarpoon,
leftBarbDownRightBarbUpHarpoon,
leftBarbUpRightBarbDownHarpoon,
leftBarbUpRightBarbUpHarpoon,
leftDoubleArrowFromBar,
leftDoubleArrowTail,
leftDoubleArrowWithVerticalStroke,
leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown,
leftHarpoonWithBarbDownBelowLongDash,
leftHarpoonWithBarbDownFromBar,
leftHarpoonWithBarbDownToBar,
leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown,
leftHarpoonWithBarbUpAboveLongDash,
leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp,
leftHarpoonWithBarbUpFromBar,
leftHarpoonWithBarbUpToBar,
leftRightDoubleArrowWithVerticalStroke,
leftTwoHeadedArrowWithDoubleVerticalStroke,
leftTwoHeadedArrowWithTail,
leftTwoHeadedArrowWithTailWithDoubleVerticalStroke,
leftTwoHeadedArrowWithTailWithVerticalStroke,
leftTwoHeadedArrowWithVerticalStroke,
minusplus,
nAryCircledDotOperator,
nAryCircledPlusOperator,
nAryCircledTimesOperator,
nAryTimesOperator,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
infinity,
integral,
product,
summation,
radical,
micro,
quadrupleIntegral,
rightArrowTail,
rightArrowWithDottedStem,
rightArrowWithTailWithDoubleVerticalStroke,
rightArrowWithTailWithVerticalStroke,
rightDoubleArrowTail,
rightDoubleArrowWithVerticalStroke,
rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown,
rightHarpoonWithBarbDownBelowLongDash,
rightHarpoonWithBarbDownFromBar,
rightHarpoonWithBarbDownToBar,
rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp,
rightHarpoonWithBarbUpAboveLongDash,
rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown,
rightHarpoonWithBarbUpFromBar,
rightHarpoonWithBarbUpToBar,
rightTwoHeadedArrowFromBar,
rightTwoHeadedArrowWithDoubleVerticalStroke,
rightTwoHeadedArrowWithTail,
rightTwoHeadedArrowWithTailWithDoubleVerticalStroke,
rightTwoHeadedArrowWithTailWithVerticalStroke,
rightTwoHeadedArrowWithVerticalStroke,
ringequalto,
ringinequalto,
threeConsecutiveEqualsSigns,
tripleIntegral,
tripleVerticalBarDelimiter,
twoConsecutiveEqualsSigns,
product.001,
plus.circled,
contourIntegral.s01,
coproduct.s01,
dblIntegral.s01,
nAryCircledDotOperator.s01,
nAryCircledPlusOperator.s01,
nAryCircledTimesOperator.s01,
nAryTimesOperator.s01,
integral.s01,
product.s01,
summation.s01,
radical.s01,
quadrupleIntegral.s01,
tripleIntegral.s01,
tripleVerticalBarDelimiter.s01,
contourIntegral.s02,
coproduct.s02,
dblIntegral.s02,
nAryCircledDotOperator.s02,
nAryCircledPlusOperator.s02,
nAryCircledTimesOperator.s02,
nAryTimesOperator.s02,
integral.s02,
product.s02,
summation.s02,
radical.s02,
quadrupleIntegral.s02,
tripleIntegral.s02,
tripleVerticalBarDelimiter.s02,
contourIntegral.s03,
coproduct.s03,
dblIntegral.s03,
nAryCircledDotOperator.s03,
nAryCircledPlusOperator.s03,
nAryCircledTimesOperator.s03,
nAryTimesOperator.s03,
integral.s03,
product.s03,
summation.s03,
radical.s03,
quadrupleIntegral.s03,
tripleIntegral.s03,
tripleVerticalBarDelimiter.s03,
contourIntegral.s04,
coproduct.s04,
dblIntegral.s04,
nAryCircledDotOperator.s04,
nAryCircledPlusOperator.s04,
nAryCircledTimesOperator.s04,
nAryTimesOperator.s04,
integral.s04,
product.s04,
summation.s04,
radical.s04,
quadrupleIntegral.s04,
tripleIntegral.s04,
tripleVerticalBarDelimiter.s04,
contourIntegral.s05,
coproduct.s05,
dblIntegral.s05,
nAryCircledDotOperator.s05,
nAryCircledPlusOperator.s05,
nAryCircledTimesOperator.s05,
nAryTimesOperator.s05,
integral.s05,
product.s05,
summation.s05,
radical.s05,
quadrupleIntegral.s05,
tripleIntegral.s05,
tripleVerticalBarDelimiter.s05,
contourIntegral.s06,
coproduct.s06,
dblIntegral.s06,
nAryCircledDotOperator.s06,
nAryCircledPlusOperator.s06,
nAryCircledTimesOperator.s06,
nAryTimesOperator.s06,
integral.s06,
product.s06,
summation.s06,
radical.s06,
quadrupleIntegral.s06,
tripleIntegral.s06,
tripleVerticalBarDelimiter.s06,
contourIntegral.s07,
coproduct.s07,
dblIntegral.s07,
nAryCircledDotOperator.s07,
nAryCircledPlusOperator.s07,
nAryCircledTimesOperator.s07,
nAryTimesOperator.s07,
integral.s07,
product.s07,
summation.s07,
radical.s07,
quadrupleIntegral.s07,
tripleIntegral.s07,
tripleVerticalBarDelimiter.s07,
contourIntegral.s08,
coproduct.s08,
dblIntegral.s08,
nAryCircledDotOperator.s08,
nAryCircledPlusOperator.s08,
nAryCircledTimesOperator.s08,
nAryTimesOperator.s08,
integral.s08,
product.s08,
summation.s08,
radical.s08,
quadrupleIntegral.s08,
tripleIntegral.s08,
tripleVerticalBarDelimiter.s08,
contourIntegral.s09,
coproduct.s09,
dblIntegral.s09,
nAryCircledDotOperator.s09,
nAryCircledPlusOperator.s09,
nAryCircledTimesOperator.s09,
nAryTimesOperator.s09,
integral.s09,
product.s09,
summation.s09,
radical.s09,
quadrupleIntegral.s09,
tripleIntegral.s09,
tripleVerticalBarDelimiter.s09,
contourIntegral.s10,
coproduct.s10,
dblIntegral.s10,
nAryCircledDotOperator.s10,
nAryCircledPlusOperator.s10,
nAryCircledTimesOperator.s10,
nAryTimesOperator.s10,
integral.s10,
product.s10,
summation.s10,
radical.s10,
quadrupleIntegral.s10,
tripleIntegral.s10,
tripleVerticalBarDelimiter.s10,
contourIntegral.s11,
coproduct.s11,
dblIntegral.s11,
nAryCircledDotOperator.s11,
nAryCircledPlusOperator.s11,
nAryCircledTimesOperator.s11,
nAryTimesOperator.s11,
integral.s11,
product.s11,
summation.s11,
radical.s11,
quadrupleIntegral.s11,
tripleIntegral.s11,
contourIntegral.s12,
coproduct.s12,
dblIntegral.s12,
nAryCircledDotOperator.s12,
nAryCircledPlusOperator.s12,
nAryCircledTimesOperator.s12,
nAryTimesOperator.s12,
integral.s12,
product.s12,
summation.s12,
radical.s12,
quadrupleIntegral.s12,
tripleIntegral.s12,
contourIntegral.s13,
coproduct.s13,
dblIntegral.s13,
nAryCircledDotOperator.s13,
nAryCircledPlusOperator.s13,
nAryCircledTimesOperator.s13,
nAryTimesOperator.s13,
integral.s13,
product.s13,
summation.s13,
radical.s13,
quadrupleIntegral.s13,
tripleIntegral.s13,
contourIntegral.s14,
coproduct.s14,
dblIntegral.s14,
nAryCircledDotOperator.s14,
nAryCircledPlusOperator.s14,
nAryCircledTimesOperator.s14,
nAryTimesOperator.s14,
integral.s14,
product.s14,
summation.s14,
radical.s14,
quadrupleIntegral.s14,
tripleIntegral.s14,
contourIntegral.s15,
coproduct.s15,
dblIntegral.s15,
nAryCircledDotOperator.s15,
nAryCircledPlusOperator.s15,
nAryCircledTimesOperator.s15,
nAryTimesOperator.s15,
integral.s15,
product.s15,
summation.s15,
radical.s15,
quadrupleIntegral.s15,
tripleIntegral.s15,
contourIntegral.s16,
coproduct.s16,
dblIntegral.s16,
nAryCircledDotOperator.s16,
nAryCircledPlusOperator.s16,
nAryCircledTimesOperator.s16,
nAryTimesOperator.s16,
integral.s16,
product.s16,
summation.s16,
radical.s16,
quadrupleIntegral.s16,
tripleIntegral.s16,
contourIntegral.s17,
coproduct.s17,
dblIntegral.s17,
nAryCircledDotOperator.s17,
nAryCircledPlusOperator.s17,
nAryCircledTimesOperator.s17,
nAryTimesOperator.s17,
integral.s17,
product.s17,
summation.s17,
radical.s17,
quadrupleIntegral.s17,
tripleIntegral.s17,
contourIntegral.s18,
coproduct.s18,
dblIntegral.s18,
nAryCircledDotOperator.s18,
nAryCircledPlusOperator.s18,
nAryCircledTimesOperator.s18,
nAryTimesOperator.s18,
integral.s18,
product.s18,
summation.s18,
radical.s18,
quadrupleIntegral.s18,
tripleIntegral.s18,
contourIntegral.s19,
coproduct.s19,
dblIntegral.s19,
nAryCircledDotOperator.s19,
nAryCircledPlusOperator.s19,
nAryCircledTimesOperator.s19,
nAryTimesOperator.s19,
integral.s19,
product.s19,
summation.s19,
radical.s19,
quadrupleIntegral.s19,
tripleIntegral.s19,
contourIntegral.s20,
coproduct.s20,
dblIntegral.s20,
nAryCircledDotOperator.s20,
nAryCircledPlusOperator.s20,
nAryCircledTimesOperator.s20,
nAryTimesOperator.s20,
integral.s20,
product.s20,
summation.s20,
radical.s20,
quadrupleIntegral.s20,
tripleIntegral.s20,
divisionslash,
downArrowToBar,
downArrowWithHorizontalStroke,
downHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight,
downHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight,
downHarpoonWithBarbLeftFromBar,
downHarpoonWithBarbLeftToBar,
downHarpoonWithBarbRightFromBar,
downHarpoonWithBarbRightToBar,
experimentalintegral,
gradient,
leftArrowWithDottedStem,
midlinehorizontalellipsis,
northEastAndSouthWestArrow,
northWestAndSouthEastArrow,
approxequal,
asciitilde,
logicalnot,
asciicircum,
Ohm,
increment,
partialdiff,
percent,
perthousand,
upArrowToBar,
upArrowWithHorizontalStroke,
upBarbLeftDownBarbLeftHarpoon,
upBarbLeftDownBarbRightHarpoon,
upBarbRightDownBarbLeftHarpoon,
upBarbRightDownBarbRightHarpoon,
upHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight,
upHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight,
upHarpoonWithBarbLeftFromBar,
upHarpoonWithBarbLeftToBar,
upHarpoonWithBarbRightFromBar,
upHarpoonWithBarbRightToBar,
downArrowToBar.bot,
downHarpoonWithBarbLeftToBar.bot,
downHarpoonWithBarbRightToBar.bot,
asciitilde.case,
asciicircum.case,
infinity.case,
divisionslash.lf,
dotmath.lf,
plus.lf,
minus.lf,
multiply.lf,
divide.lf,
equal.lf,
notequal.lf,
greater.lf,
less.lf,
greaterequal.lf,
lessequal.lf,
plusminus.lf,
approxequal.lf,
asciitilde.lf,
logicalnot.lf,
asciicircum.lf,
percent.lf,
perthousand.lf,
leftArrowWithDottedStem.lft,
leftHarpoonWithBarbDownBelowLongDash.lft,
leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown.lft,
leftHarpoonWithBarbUpAboveLongDash.lft,
leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp.lft,
rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown.lft,
rightHarpoonWithBarbDownBelowLongDash.lft,
rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp.lft,
rightHarpoonWithBarbUpAboveLongDash.lft,
multiply.circled,
operator.circled,
leftHarpoonWithBarbDownBelowLongDash.rgt,
leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown.rgt,
leftHarpoonWithBarbUpAboveLongDash.rgt,
leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp.rgt,
rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown.rgt,
rightHarpoonWithBarbDownBelowLongDash.rgt,
rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp.rgt,
rightHarpoonWithBarbUpAboveLongDash.rgt,
rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown.rgt,
minus.subs,
minus.sups,
divisionslash.tf,
dotmath.tf,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
notequal.tf,
greater.tf,
less.tf,
greaterequal.tf,
lessequal.tf,
plusminus.tf,
approxequal.tf,
asciitilde.tf,
logicalnot.tf,
asciicircum.tf,
percent.tf,
perthousand.tf,
upArrowToBar.top,
upHarpoonWithBarbLeftToBar.top,
upHarpoonWithBarbRightToBar.top,
divisionslash.tosf,
dotmath.tosf,
plus.tosf,
minus.tosf,
multiply.tosf,
divide.tosf,
equal.tosf,
notequal.tosf,
greater.tosf,
less.tosf,
greaterequal.tosf,
lessequal.tosf,
plusminus.tosf,
approxequal.tosf,
asciitilde.tosf,
percent.tosf,
perthousand.tosf,
rightArrow,
leftArrow,
leftRightArrow,
leftStrokeArrow,
rightStrokeArrow,
leftVerticalStrokeArrow,
rightVerticalStrokeArrow,
leftRightVerticalStrokeArrow,
leftDoubleVerticalStrokeArrow,
rightDoubleVerticalStrokeArrow,
leftRightStrokeArrow,
leftTwoheadedArrow,
rightTwoheadedArrow,
leftTailArrow,
rightTailArrow,
leftFrombarArrow,
rightFrombarArrow,
leftTabArrow,
rightTabArrow,
leftToBarOverRightToBarArrow,
leftBarbUpHarpoon,
leftBarbDownHarpoon,
rightBarbUpHarpoon,
rightBarbdownHarpoon,
leftOverRightHarpoon,
rightOverLeftHarpoon,
rightOverLeftArrow,
leftAndRightArrow,
rightDoublePairedArrow,
leftDoublePairedArrow,
rightDoubleArrow,
leftDoubleArrow,
leftRightDoubleArrow,
leftDoubleStrokeArrow,
leftRightDoubleStrokeArrow,
rightDoubleStrokeArrow,
leftLongArrow,
rightLongArrow,
leftRightLongArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
leftLongFromBarArrow,
rightLongFromBarArrow,
leftLongDoubleFromBarArrow,
rightLongDoubleFromBarArrow,
rightDoubleArrowFromBar,
ArrowEnd.lft,
harpoonrightup.rgt,
rightArrow.lft,
leftToBarOverRightToBarArrow.lft,
leftOverRightHarpoon.lft,
rightArrow.rgt,
rightTabArrow.rgt,
rightDoubleArrow.rgt,
rightTabHarpoonUpArrow.rgt,
twoheadrightarrow.rgt,
upArrow,
northEastArrow,
southEastArrow,
downArrow,
southWestArrow,
northWestArrow,
upDownArrow,
downAndUpArrow,
upTwoHeadedArrow,
downTwoheadedArrow,
upFrombarArrow,
downFrombarArrow,
upBarbRightharpoon,
upBarbLeftharpoon,
downBarbRightHarpoon,
downBarbLeftHarpoon,
upAndDownArrow,
upDoublePairedArrow,
downDoublePairedArrow,
upDoubleArrow,
northEastDoubleArrow,
southEastDoubleArrow,
downDoubleArrow,
southWestDoubleArrow,
northWestDoubleArrow,
upDownDoubleArrow,
upDashArrow,
dashdownArrow,
Arrowend.lft,
Arrowend.rgt,
DoubleArrowEnd.lft,
FrombarDoubleArrowEnd.lft,
_smart.FrombarArrow,
upArrow.bot,
downArrow.bot,
downTwoheadedArrow.bot,
upFrombarArrow.bot,
harpoonrightup.lft,
leftFrombarDoubleArrow.rgt,
leftTabHarpoonDownArrow.lft,
leftTabHarpoonUpArrow.lft,
leftArrow.lft,
leftTabArrow.lft,
rightOverLeftHarpoon.lft,
rightOverLeftArrow.lft,
leftAndRightArrow.lft,
rightDoublePairedArrow.lft,
leftDoublePairedArrow.lft,
leftDoubleArrow.lft,
leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown.lft,
rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown.lft,
leftTailArrow.rgt,
leftFrombarArrow.rgt,
leftToBarOverRightToBarArrow.rgt,
leftOverRightHarpoon.rgt,
rightOverLeftHarpoon.rgt,
rightOverLeftArrow.rgt,
leftAndRightArrow.rgt,
rightDoublePairedArrow.rgt,
leftDoublePairedArrow.rgt,
leftDoubleArrow.rgt,
leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown.rgt,
rightTabHarpoonDownArrow.rgt,
upArrow.top,
downArrow.top,
upTwoHeadedArrow.top,
downFrombarArrow.top,
upBarbRightharpoon.top,
upBarbLeftharpoon.top,
twoheadleftarrow.lft,
harpoonrightup.rgt.001,
rightArrow.lft.long,
leftArrow.rgt.long,
lozenge,
blackSquare,
whiteSquare,
blackSquare.case,
whiteSquare.case,
_ArrowDoubleVerticalStroke,
_ArrowStroke,
_ArrowVerticalStroke,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
verticallineabovecomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
slashshortoverlaycomb,
slashlongoverlaycomb,
dotaboverightcomb,
doublemacronbelowcomb,
acutemacroncomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
dblgravecomb.case,
candraBinducomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
commaabovecomb.case,
cedillacomb.case,
ogonekcomb.case,
circumflexbelowcomb.case,
macronbelowcomb.case,
dotaboverightcomb.case,
doublemacronbelowcomb.case,
acutemacroncomb.case,
gravemacroncomb.case,
macronacutecomb.case,
macrongravecomb.case,
acutecomb.loclPLK,
dieresiscomb.narrow,
underlinebold.100,
underlinebold.50,
underlinebold.60,
underlinebold.70,
underlinebold.80,
underlinebold.90,
gravecomb.viet,
acutecomb.viet,
circumflexcomb.viet,
caroncomb.alt.case,
acutecomb.loclPLK.case,
dieresiscomb.narrow.case,
tildecomb.viet.narrow,
gravecomb.case.viet,
acutecomb.case.viet,
circumflexcomb.case.viet,
brevecomb.case.viet,
tildecomb.case.viet,
circumflexcomb.case.viet.narrow,
tildecomb.case.viet.narrow,
_ArrowTab,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
_smart.ArrowHead,
_smart.ArrowHead.top,
apostrophemod,
commaturnedmod,
glottalstopmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinemod,
"_part.LC-ascender-left-side-grave-stroke",
"_part.LC-ascender-left-side-hook",
"_part.LC-b-bowl",
"_part.LC-baseline-lower-stem",
"_part.LC-baseline-right-outserif",
"_part.LC-baseline-serif-both",
"_part.LC-baseline-stroke",
"_part.LC-c",
"_part.LC-descender-outstroke",
"_part.LC-descender-stem",
"_part.LC-f-bar",
"_part.LC-f_l_liga_upper",
"_part.LC-ge-cy-upper",
"_part.LC-j-descender",
"_part.LC-ka-cy-wings",
"_part.LC-left-bowl",
"_part.LC-left-bowl-italic",
"_part.LC-n-shoulder-top",
"_part.LC-n-shoulder-top-italic",
"_part.LC-softsign-cy-bowl",
"_part.LC-te-cy-bar",
"_part.LC-xheight-left-inserif",
"_part.LC-xheight-left-outserif",
"_part.LC-xheight-upper-stem",
"_part.LC-zhe-cy-wings",
"_part.UC-F-upper",
"_part.UC-F-upper-italic",
"_part.UC-Ge-cy-upper",
"_part.UC-Softsign-cy-bowl",
"_part.UC-T-lower-stem",
"_part.UC-T-lower-stem-italic",
"_part.UC-T-top-bar",
"_part.UC-T-top-bar-italic",
"_part.UC-T-upper-stroke",
"_part.UC-alpha-latin-body",
"_part.UC-stem",
"_part.UC-stem-italic",
"_part.k-legs",
"_part.n-2nd-stroke-long",
_smart.ArrowEnd,
_smart.ArrowTail,
"_smart.LC-lambda-instroke",
_smart.bar,
_smart.braceleft,
_smart.bracketleft,
_smart.circle,
_smart.contourIntegral,
_smart.coproduct,
_smart.dblIntegral,
_smart.integral,
"_smart.lambda-latin",
"_smart.lambdaitalic-math",
_smart.leftFloor,
_smart.minus,
_smart.multiply,
_smart.parenleft,
_smart.plus,
_smart.product,
_smart.quadrupleIntegral,
_smart.radical,
_smart.summation,
_smart.tripleIntegral,
"_part.LC-left-bowl.001",
_smart.Arrow.mid,
_smart.DoubleArrow.mid,
_smart.VerticalArrow.mid,
_smart.integral.001,
_smart.integral.bottom,
_smart.integral.top,
_smart.minus.001,
_smart.multiply.circled,
_smart.operator.circled,
_smart.plus.001,
_smart.plus.circled,
_smart.tail.top,
ArrowHead,
M.ssty1,
M.ssty2,
A.ssty1,
Arrow.mid.ShortShort,
Arrow.mid.ShortShort.FloorB,
Arrow.mid.ShortShort.FloorC,
"_cap.LC-a-tail",
"_cap.LC-beak",
"_cap.LC-diagonal-out-serif",
"_cap.LC-greek-latin-outstroke",
"_cap.LC-inserif",
"_cap.LC-instroke",
"_cap.LC-instroke-italic",
"_cap.LC-thin-diagonal-flare",
"_cap.LC-thin-diagonal-out-serif",
"_cap.LC-upper-hook-left",
"_cap.LC-vertical-thick-up",
"_cap.UC-X-instroke",
"_cap.UC-baseline-hook-right",
"_cap.UC-beak",
"_cap.UC-beak-down",
"_cap.UC-beak-up",
"_cap.UC-ogonek",
"_cap.UC-serif-thin-stem",
"_cap.UC-serif-thin-stem-outer",
"_cap.UC-thin-diagonal-flare",
"_cap.UC-thin-diagonal-flare-italic",
"_cap.UC-thin-flare",
"_cap.UC-vertical-baseline-thick",
"_cap.UC-vertical-thick-up",
"_cap.V-upper-right-hook",
"_cap.flag-ascender",
"_cap.tail-descender",
"_cap.tail-descender-italic",
"_cap.v-upper-right-hook",
"_corner.LC-left-diagonal-serif",
"_corner.LC-left-serif",
"_corner.LC-outstroke",
"_corner.LC-right-diagonal-serif",
"_corner.LC-right-serif",
"_corner.LC-serif",
"_corner.LC-single-sided-serif",
"_corner.LC-spur",
"_corner.T-upper-left-hook",
"_corner.UC-left-diagonal-serif",
"_corner.UC-left-diagonal-serif-italic",
"_corner.UC-left-serif",
"_corner.UC-right-diagonal-serif",
"_corner.UC-right-diagonal-serif-italic",
"_corner.UC-right-serif",
"_corner.UC-serif",
"_corner.UC-serif-to-bowl",
"_corner.UC-single-sided-serif",
"_corner.UC-upper-left-hook",
_corner.bracket,
"_corner.bracket-acute",
DoubleArrowHead.rgt,
DoubleArrowLong.mid.ShortShort,
DoublePairedArrow.mid.LongLong,
DoublePairedArrow.mid.ShortShort,
DoubleArrowHead,
E9999,
_2ndTittle,
_Dbar,
"_LC-yu-cy-o",
_Obar,
"_UC-Yu-cy-O",
"_cedillacomb-t",
_dbar,
_interpunct,
_longsbar,
_obar,
arrowdot,
"dotaccentcomb-italic",
fracinit,
"gsingle-italic",
harpoonHead,
harpoonleftdown,
"idotless-italic",
"jcrossedtail-dotless",
"jdotless-italic",
"lc-hook-descender-cy",
mathdot,
plusdot,
rightArrowDoubleTail,
slashL,
slashl,
temp,
"uc-o-horn",
"yen-strokes-overlay",
Arrow.ext,
Arrow.mid,
ArrowDoubleVerticalStroke.ext,
ArrowDoubleVerticalStroke.mid,
ArrowStroke.ext,
ArrowStroke.mid,
ArrowVerticalStroke.ext,
ArrowVerticalStroke.mid,
DoubleArrow.ext,
DoubleArrowHead.001,
DoubleArrowStroke.ext,
DoubleArrowStroke.mid,
DoubleArrowVerticalStroke.ext,
DoubleArrowVerticalStroke.mid,
DoublePairedArrow.ext,
FrombarArrowEnd.lft,
VerticalArrow.mid,
_brevecomb.light,
"_cedillacomb-E.case",
"_cedillacomb-T.case",
_dotaccentcomb.light,
_f_h.ligature,
_f_k.ligature,
_f_l.ligature,
_hookabovecomb.narrow,
_longs_h.ligature,
_longs_k.ligature,
_longs_l.ligature,
_r.flattened,
_rightFrombarArrow.serif,
_tildecomb.light,
_tildecomb.narrow,
downBarbLeftharpoon.bot,
downBarbRightharpoon.bot,
harpoonHead.001,
"jdotlessbold-math.cv01",
"longs-init.ligature",
strokelongoverlaycomb.case,
strokeshortoverlaycomb.case,
"t-caroncomb.alt",
"uc-descender-cy.loclBGR",
Arrow.mid.LongLong,
Arrow.mid.ShortLong,
ArrowLong.mid.ShortShort,
DoubleArrow.mid.ShortShort,
_circumflexcomb.viet.narrow,
_dot.zero.zero,
_dotaccentcomb.case.light,
Arrow.mid.LongLong.FloorA,
Arrow.mid.ShortLong.FloorA,
Arrow.mid.ShortLong.FloorB,
Arrow.mid.ShortLong.FloorC,
DoubleArrow.mid.ShortShort.Floor
)