{
displayStrings = (
"/.notdef/.notdef Å",
"𝐴/Aitalic-math.ssty1",
"𝑙/litalic-math.ssty1",
"/_smart.circle",
"⨂/nAryCircledTimesOperator.s20",
"/nAryCircledTimesOperator.s01",
"/_smart.circle",
"/nAryCircledDotOperator.s01/nAryCircledDotOperator.s02/nAryCircledDotOperator.s03",
"𝐀/Abold-math.ssty1"
);
}
