{
displayStrings = (
"/_smart.ArrowHead.top/_smart.ArrowHead/ArrowHead/_smart.Arrow.mid/rightArrow.rgt/Arrow.mid.ShortShort/_smart.ArrowEnd/_smart.Arrow.mid/rightArrow.lft →",
"/_smart.ArrowHead.top/_smart.ArrowHead/ArrowHead",
"/rightArrow.rgt",
"/_smart.ArrowHead/_smart.ArrowHead/_smart.ArrowHead.top/_smart.ArrowHead/_smart.ArrowHead/_smart.ArrowHead/ArrowHead"
);
}
