<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>formatVersion</key>
  <integer>1</integer>

  <key>kind</key>
  <string>recipe</string>

  <key>constants</key>
  <string>recipe_constants.plist</string>

  <key>name</key>
  <string>circled plus operators</string>

  <key>parameters</key>
  <dict>
    <key>axis</key>
    <string>height</string>
    <key>lowValue</key>
    <real>0</real>
    <key>highValue</key>
    <real>100</real>
    <key>nAryVariantValues</key>
    <array>
      <integer>5</integer>
      <integer>10</integer>
      <integer>15</integer>
      <integer>20</integer>
      <integer>25</integer>
      <integer>30</integer>
      <integer>35</integer>
      <integer>40</integer>
      <integer>45</integer>
      <integer>50</integer>
      <integer>55</integer>
      <integer>60</integer>
      <integer>65</integer>
      <integer>70</integer>
      <integer>75</integer>
      <integer>80</integer>
      <integer>85</integer>
      <integer>90</integer>
      <integer>95</integer>
      <integer>100</integer>
    </array>
    <key>color</key>
    <string>${GeneratedColor}</string>
  </dict>

  <key>actions</key>
  <array>
    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>_smart.plus.circled</string>
        <key>export</key>
        <false/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponents</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>_smart.plus.circled</string>
        <key>components</key>
        <array>
          <string>_smart.circle</string>
          <string>_smart.plus</string>
        </array>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createHighLayers</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>_smart.plus.circled</string>
        <key>axis</key>
        <string>${axis}</string>
        <key>lowValue</key>
        <string>${lowValue}</string>
        <key>highValue</key>
        <string>${highValue}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setComponentAxisLowHigh</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>_smart.plus.circled</string>
        <key>axis</key>
        <string>${axis}</string>
        <key>lowValue</key>
        <string>${lowValue}</string>
        <key>highValue</key>
        <string>${highValue}</string>
        <key>componentFilter</key>
        <dict>
          <key>components</key>
          <array>
            <string>_smart.circle</string>
            <string>_smart.plus</string>
          </array>
        </dict>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>plus.circled</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>plus.circled</string>
        <key>component</key>
        <string>_smart.plus.circled</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setComponentAxisValue</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>plus.circled</string>
        <key>axis</key>
        <string>${axis}</string>
        <key>value</key>
        <integer>0</integer>
        <key>componentFilter</key>
        <dict>
          <key>components</key>
          <array>
            <string>_smart.plus.circled</string>
          </array>
        </dict>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createGlyph</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>nAryCircledPlusOperator</string>
        <key>export</key>
        <true/>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>addComponent</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>nAryCircledPlusOperator</string>
        <key>component</key>
        <string>_smart.plus.circled</string>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>setComponentAxisValue</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>nAryCircledPlusOperator</string>
        <key>axis</key>
        <string>${axis}</string>
        <key>value</key>
        <integer>5</integer>
        <key>componentFilter</key>
        <dict>
          <key>components</key>
          <array>
            <string>_smart.plus.circled</string>
          </array>
        </dict>
      </dict>
    </dict>

    <dict>
      <key>type</key>
      <string>call</string>
      <key>function</key>
      <string>createSmartComponentVariants</string>
      <key>arguments</key>
      <dict>
        <key>glyph</key>
        <string>nAryCircledPlusOperator</string>
        <key>values</key>
        <string>${nAryVariantValues}</string>
        <key>startNumber</key>
        <integer>2</integer>
        <key>axis</key>
        <string>${axis}</string>
        <key>color</key>
        <string>${color}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
